@model MainPhotoPageViewModel
<div class="container" style="margin-top: 50px;">
    <div class="page-header">
        <h3 class="pull-left">@Model.UserDisplayName's Photos</h3>
        @if (Model.IsForCurrentUser && Model.ViewType == PhotoViewType.Albums)
        {
            <a href="#" data-autotext="never" id="newAlbum" style="margin-top: 30px;" class="btn pull-right">New album</a>
        }
        <div class="clearfix"></div>
    </div>
    <div>

        <div class="album-pic-switch">
            <div class="btn-group" data-toggle="buttons-radio">
                
                <a href="~/photo/list/@Model.UserId?page=1" 
                    @*data-ajax="1" data-container="#photosContainer"*@
                   class="btn btn-large btn-info @(Model.ViewType == PhotoViewType.Photos ? "active" : "")">Photos</a>
                
                <a href="~/photo/albums/@Model.UserId?page=1"
                    @*data-ajax="1" data-container="#photosContainer"*@
                   class="btn btn-large btn-info @(Model.ViewType == PhotoViewType.Albums ? "active" : "")">Albums</a>
            </div>
        </div>

        @if (Model.ViewType == PhotoViewType.Photos)
        {
            <div id="photosContainer" class="pic-list well" data-scroll-pagination="1" data-url="/photo/list/@Model.UserId" data-page="1" data-clearfix="1">
                @Html.Partial("_PhotoList", Model.Photos)
            </div>
        }
        else
        {
            <div id="photosContainer" class="pic-list well">
                @Html.Partial("_AlbumList", Model.Albums)
            </div>   
        }
    </div>
</div>

@if (Model.IsForCurrentUser && Model.ViewType == PhotoViewType.Albums)
{
    @section Scripts
    {
        <script type="text/javascript">
            $(function() {
                $('#newAlbum').editable({
                    type: 'text',
                    placeholder: 'Album name',
                    value: '',
                    mode: 'popup',
                    send: 'always',
                    success: function(res) {
                        var album = $(res.trim());
                        album.hide().appendTo($('#album-list')).fadeIn();

                        applyPageStyles();
                        
                        setTimeout(function() {
                            $('#newAlbum').text('New album');
                        }, 10);
                    },
                    url: '/albums/createalbum',
                    validate: function (value) {
                        if ($.trim(value) == '') {
                            return 'Album name is required';
                        }
                    }
                });
                
            })
        </script>
    }
}