@using Zazz.Core.Models.Data.Enums
@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserName;
}

<div class="container">
    @*COVER IMAGE*@
    <img id="coverImg" class="img-polaroid" src="@Model.CoverPhotoUrl" />

    <div style="min-height: 120px;">

        @*LEFT ITEMS*@
        <div class="pull-left">
            <table class="club-details">
                <tbody>
                    <tr>
                        <td><i class="icon-glass"></i></td>
                        <td>Night Club</td>
                    </tr>
                    <tr>
                        <td><i class="icon-building"></i></td>
                        <td>Victoria B.C.</td>
                    </tr>
                    <tr>
                        <td><i class="icon-map-marker" style="margin-left: 1px;"></i></td>
                        <td>751 View street</td>
                    </tr>
                </tbody>
            </table>
        </div>

        @*RIGHT ITEMS*@
        <div class="pull-right">
            
            <div class="club-party-web-info text-center">
                
                <i class="badge badge-info followers-count">5</i>
                <br/>
                <div>Party Web</div>
                <button data-action="follow" data-id="@Model.UserId"
                     class="btn btn-info btn-follow"><i class="icon-plus"></i></button>
            </div>
            

        </div>

        @*CENTER ITEMS*@
        <div class="profile-center">
            <img id="profilePic" class="img-polaroid img-rounded" src="@Model.UserPhotoUrl.SmallLink" />
            <h3>@Model.UserName</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    
    
    <div class="weeklies-container">
        <div class="weeklies-text">
            <a href="#" style="position: absolute;">add...</a>
            <div>Weeklies</div>
        </div>
        <ul class="weeklies-items">
            
            @for (int i = 0; i < 7; i++)
            {
                <li class="weekly">
                    <img src="~/Images/placeholder.gif"/>
                    <div>Mon</div>
                </li>
            }
        </ul>
        <div class="special-events"></div>
    </div>
    <div class="clearfix"></div>
    

    @* TABS *@
    @if (Model.IsSelf)
    {
        <div>
            @Html.Partial("_PostInputsPartial")
        </div>
    }
    else
    {
        <div id="profileTabs">
            <textarea data-tag="1" placeholder="Post something on @Model.UserName's wall" id="postInput"></textarea>
            <button type="button" class="btn btn-primary" id="submitPostBtn" data-touser="@Model.UserId">Submit</button>
        </div>
    }
    
    @* LEFT MENU *@
    <div id="leftMenu" class="well light-background">
        <div class="menu-title"><strong>MY CLUBS</strong></div>
        <ul>
            <li><a href="#">Club A</a></li>
            <li><a href="#">Club B</a></li>
            <li><a href="#">Club C</a></li>
            <li><a href="#">Club D</a></li>
        </ul>
        <a href="#" style="font-size: 12px;">MORE...</a>

        <div class="menu-title" style="margin-top: 25px;"><strong>PEOPLE TO PARTY WITH</strong></div>
        <ul>
            <li><a href="#">Person A</a></li>
            <li><a href="#">Person B</a></li>
            <li><a href="#">Person C</a></li>
            <li><a href="#">Person D</a></li>
        </ul>
        <a href="#" style="font-size: 12px;">MORE...</a>
    </div>

    @* FEEDS *@

    <div id="feedContent">
        @Html.Partial("_FeedsPartial", Model.Feeds)
    </div>

    <div class="clearfix"></div>
</div>
@Html.Partial("_UploadPicModal",  new UploadPicModalModel { ModalId = "uploadPicModalWithFeed", CreateFeed = true })

