@model EditProfileViewModel

@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div>
    <div class="page-header">
        <h3>Edit Profile</h3>
    </div>

    <div>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#aboutTab" data-toggle="tab">About</a></li>
                    <li><a href="#profilePicTab" data-toggle="tab">Profile Pictures</a></li>
                    <li><a href="#fbSyncTab" data-toggle="tab">Facebook Sync</a></li>
                    <li><a href="#notificationsTab" data-toggle="tab">Notifications</a></li>
                </ul>
                <div class="tab-content margin-ten">
                    <div class="tab-pane active" id="aboutTab">
                        <a href="~/account/changepassword">Change Password</a>
                        <p style="margin-top: 30px;">

                            <div class="control-group">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @Html.RadioButtonForEnum(model => model.Gender)
                                    @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.FullName, new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(model => model.FullName, new { @class = "span4" })
                                    @Html.ValidationMessageFor(model => model.FullName, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.CityId, new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.CityId, Model.Cities, new { @class = "span4" })
                                    @Html.ValidationMessageFor(model => model.CityId, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.SchoolId, new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.SchoolId, Model.Schools, new { @class = "span4" })
                                    @Html.ValidationMessageFor(model => model.SchoolId, null, new { @class = "help-inline" })
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="editor-label">
                                    @Html.LabelFor(model => model.MajorId, new { @class = "control-label" })
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(model => model.MajorId, Model.Majors, new { @class = "span4" })
                                    @Html.ValidationMessageFor(model => model.MajorId, null, new { @class = "help-inline" })
                                </div>
                            </div>

                        </p>
                    </div>
                    <div class="tab-pane" id="profilePicTab">
                       
                            <div class="control-group">
                                <div class="editor-label">
                                    <label class="control-label">Profile Picture</label>
                                </div>
                                <div class="editor-field selectProfilePic">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Select Picture</button>
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#pg-modalWithCrop">From gallery</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#uploadPicModalWithCrop">Upload picture</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="control-group" style="margin-top: 40px; margin-bottom: 100px;">
                                <div class="editor-label">
                                    <label class="control-label">Profile Cover Picture</label>
                                </div>
                                <div class="editor-field">
                                    <div class="btn-group selectCoverPic">
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Select Picture</button>
                                        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#" data-toggle="modal" data-target="#pg-modalWithCrop">From gallery</a></li>
                                            <li><a href="#" data-toggle="modal" data-target="#uploadPicModalWithCrop">Upload picture</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>


                    <div class="tab-pane" id="fbSyncTab">
                        <p>
                            <div class="control-group">
                                <label class="checkbox">
                                    @Html.EditorFor(model => model.SyncFbEvents) Sync Facebook Events
                                </label>
                            </div>

                            <div class="control-group">
                                <label class="checkbox">
                                    @Html.EditorFor(model => model.SyncFbPosts) Sync Facebook Posts
                                </label>
                            </div>

                            <div class="control-group">
                                <label class="checkbox">
                                    @Html.EditorFor(model => model.SyncFbImages) Sync Facebook Images
                                </label>
                            </div>
                        </p>
                    </div>
                    <div class="tab-pane" id="notificationsTab">
                        <p>
                            <div class="control-group">
                                <label class="checkbox">
                                    @Html.EditorFor(model => model.SendFbErrorNotification) Send Facebook Sync Error Notifications
                                </label>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            
            <p class="form-actions">
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="~/" class="btn">Cancel</a>
            </p>
        }


        <div class="modal hide fade" id="pg-modalWithCrop">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Photo Gallery</h3>
            </div>

            <div class="modal-body">
                <strong>Album: </strong>
                <select class="span4" id="pg-albumSelect">
                    <option>Loading...</option>
                </select>

                <div id="pg-photos"><i class="icon-spin icon-refresh"></i></div>

            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>

        @Html.Partial("_UploadPicModal", "uploadPicModalWithCrop")
        

    </div>
</div>
