@using Zazz.Core.Models.Data
@model UserProfileViewModel
@{
    ViewBag.Title = "Profile";
}

<div class="container">
    @*COVET IMAGE*@
    <img id="coverImg" class="img-polaroid img-rounded" src="@Model.CoverPhotoUrl" />

    <div>

        @*LEFT ITEMS*@
        <div class="pull-left">
            <h4>Major: @Model.Major</h4>
            <h4>@Model.School</h4>
            <h5 class="uppercase">@Model.City</h5>
        </div>

        @*RIGHT ITEMS*@
        <div class="pull-right">
            <h3 class="pull-right" style="margin-left: 5px;">@Model.FollowersCount</h3>
            <h3 class="pull-right">PARTY WEB:</h3>
            <br />
            
            <p data-id="@Model.UserId" id="followsYouSign" class="pull-right label label-success">Follows you <i class="icon icon-ok-sign"></i></p>

            @if (Model.IsSelf)
            {
                <button class="btn btn-large pull-right btn-info">Join Other Party Webs</button>
            }
            else
            {
                <input type="hidden" id="isClub" value="@Model.IsClub.ToString()"/>
                <div id="followRequestBtnContainer">
                    @if (!Model.IsCurrentUserFollowingTargetUser)
                    {
                        if (Model.AccountType == AccountType.ClubAdmin)
                        {
                        <button data-id="@Model.UserId" data-url="/follow/followuser/@Model.UserId" data-action="follow" class="btn btn-large pull-right btn-info btn-follow">Follow</button>
                        }
                        else
                        {
                            if (Model.FollowRequestAlreadySent)
                            {
                        <button title="Follow request has been sent before. You must wait for the user to accept your request." class="btn btn-large pull-right btn-info disabled" disabled="disabled">Follow Request Sent</button>
                            }
                            else
                            {
                        <button data-id="@Model.UserId" data-url="/follow/followuser/@Model.UserId" data-action="followRequest" class="btn btn-large pull-right btn-info btn-follow">Send Follow Request</button>
                            }
                        }
                    }
                    else
                    {
                        <button data-id="@Model.UserId" data-url="/follow/unfollow/@Model.UserId" data-action="unfollow" class="btn btn-large pull-right btn-info btn-follow">Unfollow</button>
                    }
                </div>
            }

            <div class="clearfix"></div>
        </div>

        @*CENTER ITEMS*@
        <div class="profile-center">
            <img id="profilePic" class="img-polaroid img-rounded" src="@Model.UserPhotoUrl" />
            <h3>@Model.UserName</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr />

    @* TABS *@
    <div id="profileTabs">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Action 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Action 2</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <p>Post something?</p>
                </div>
                <div class="tab-pane" id="tab2">
                    <p>Show something?</p>
                </div>
            </div>
        </div>
    </div>

    @* LEFT MENU *@
    <div id="leftMenu" class="well light-background">
        <div class="menu-title"><strong>MY CLUBS</strong></div>
        <ul>
            <li><a href="#">Club A</a></li>
            <li><a href="#">Club B</a></li>
            <li><a href="#">Club C</a></li>
            <li><a href="#">Club D</a></li>
        </ul>
        <a href="#" style="font-size: 12px;">MORE...</a>

        <div class="menu-title" style="margin-top: 25px;"><strong>PEOPLE TO PARTY WITH</strong></div>
        <ul>
            <li><a href="#">Person A</a></li>
            <li><a href="#">Person B</a></li>
            <li><a href="#">Person C</a></li>
            <li><a href="#">Person D</a></li>
        </ul>
        <a href="#" style="font-size: 12px;">MORE...</a>
    </div>

    @* FEEDS *@

    <div id="feedContent">
        @foreach (var feed in Model.Feeds)
        {
            if (feed.FeedType == FeedType.Event)
            {
            @Html.Partial("FeedItems/_EventFeedItem", feed)
            }
            else if (feed.FeedType == FeedType.Picture)
            {
            @Html.Partial("FeedItems/_PicturePostFeedItem", feed)
            }
        }
    </div>

    <div class="clearfix"></div>
</div>

