@model UserProfileViewModel
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="user-profile-container">

    <section class="left-panel">

        <img id="user-profile-image" class="img-polaroid img-small-rounded" src="@Model.UserPhotoUrl.SmallLink" />
        <div class="username"><a href="~/user/profile/@Model.UserId">@Model.UserName</a></div>

        <div class="party-web">
            <div class="followers-box">68</div>
            <div>Party Web</div>
            <button title="Add user" data-placement="right" class="btn icon-plus follow-btn btn-info"></button>
            <div class="clearfix"></div>
            
            <p data-id="@Model.UserId" id="followsYouSign" class="label label-success">Follows you <i class="icon icon-ok-sign"></i></p>
        </div>

        <ul class="well well-small user-info">
            <li><i class="icon-home"></i>Montreal</li>
            <li><i class="icon-building"></i>Concorida University</li>
            <li><i class="icon-book"></i>Major: Getting Backout</li>
        </ul>

        <div class="well pics-widget">
            <h6>Party pics</h6>
            <ul>
                @for (int i = 0; i < 15; i++)
                {
                    <li><a href="#">
                        <img src="~/Images/placeholder.gif" /></a></li>
                }
            </ul>
            <div class="clearfix"></div>

            <div class="text-center" style="margin-top: 10px;">
                <a href="#">See more...</a>
            </div>

        </div>
    </section>
    <section class="middle-panel">
        <div style="margin-top: -9px">
            @Html.Partial("_PostInputsPartial")
        </div>

        <div class="margin-ten">

            @Html.Partial("_FeedsPartial", Model.Feeds)
        </div>
    </section>
    <section class="right-panel">
        @Html.Partial("_TagStatsWidget", Model.TagsStats)
    </section>

</div>
