@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoLightboxes = String.Empty;
}

<div class="container" id="user-profile-container">

    <section class="left-panel">

        <img id="user-profile-image" class="img-polaroid img-small-rounded" src="@Model.UserPhotoUrl.SmallLink" />
        <div class="username"><a href="~/user/profile/@Model.UserId">@Model.UserName</a></div>

        <div class="party-web">
            <div class="followers-box">@Model.FollowersCount</div>
            <div>Party Web</div>
            
            @if (!Model.IsSelf)
            {
                if (Model.IsCurrentUserFollowingTargetUser)
                {
                    <button data-id="@Model.UserId" data-url="/follow/unfollow/@Model.UserId" data-action="unfollow"
                         title="un-follow user" data-placement="right" class="btn btn-follow btn-info"><i class="icon-remove"></i></button>
                }
                else if (Model.FollowRequestAlreadySent)
                {
                    <button title="Follow request has been sent before. You must wait for the user to accept your request."
                         class="btn btn-follow btn-info disabled" disabled="disabled"><i class="icon-ok"></i></button>
                }
                else
                {
                    <button  data-id="@Model.UserId" data-url="/follow/followuser/@Model.UserId" data-action="follow" 
                         title="follow user" data-placement="right" class="btn btn-follow btn-info"><i class="icon-plus"></i></button>
                }

                <div class="clearfix"></div>

                if (Model.IsTargetUserFollowingCurrentUser)
                {
                     <p data-id="@Model.UserId" id="followsYouSign" class="label label-success">Follows you <i class="icon icon-ok-sign"></i></p>
                }
            }
            
            
        </div>
        @if (!String.IsNullOrEmpty(Model.City) || !String.IsNullOrEmpty(Model.School) || !String.IsNullOrEmpty(Model.Major))
        {
            <ul class="well well-small user-info">
                @if (!String.IsNullOrEmpty(Model.City))
                {
                    <li><i class="icon-home"></i>Montreal</li>
                }

                @if (!String.IsNullOrEmpty(Model.School))
                {
                    <li><i class="icon-building"></i>Concorida University</li>
                }

                @if (!String.IsNullOrEmpty(Model.Major))
                {
                    <li><i class="icon-book"></i>Major: Getting Backout</li>
                }
            </ul>
        }
        
        @if (Model.Photos.Any())
        {
            <div class="well pics-widget">
                <h6>Party pics</h6>
                <ul>
                    @foreach (var p in Model.Photos)
                    {
                        <li>
                            <a data-toggle="lightbox" data-target="#photo-@p.PhotoId" href="@p.PhotoUrl.OriginalLink"><img src="@p.PhotoUrl.VerySmallLink" /></a>
                            @{ photoLightboxes += Html.Partial("_LightBoxPartial", p); }
                        </li>
                    }
                </ul>
                <div class="clearfix"></div>

                <div class="text-center" style="margin-top: 10px;">
                    <a href="~/photo/list/@Model.UserId">See more...</a>
                </div>

            </div>
        }

    </section>
    <section class="middle-panel">
        <div style="margin-top: -9px">
            @if (Model.IsSelf)
            {
                @Html.Partial("_PostInputsPartial")
            }
            else
            {
                <div id="profileTabs" class="margin-ten">
                    <textarea data-tag="1" placeholder="Post something on @Model.UserName's wall" id="postInput"></textarea>
                    <button type="button" class="btn btn-primary" id="submitPostBtn" data-touser="@Model.UserId">Submit</button>
                </div>
            }
            
        </div>

        <div class="margin-ten">

            @Html.Partial("_FeedsPartial", Model.Feeds)
        </div>
    </section>
    <section class="right-panel">
        @Html.Partial("_TagStatsWidget", Model.TagsStats)
    </section>
    
    @Html.Raw(photoLightboxes)

</div>
