@model ClubProfileViewModel
@{
    ViewBag.Title = Model.UserName;
}

@section css
{
    <style>
        .content-3 {
            background: url(@Url.Content("~/Images/Contant-bg.png"));
        }
    </style>
}

<div class="container" style="margin-top: -15px">
    <div class="row-fluid">
        <div class="banner span12">
            <img src="@Model.CoverPhotoUrl" />
        </div>
    </div>

    <div class="row-fluid">

        @*LEFT SIDE*@
        <div class="span3">
            <div style="height: 50px">
                <ul class="nav nav-stacked club-details">
                    <li><i class="icon-glass"></i><strong>@Model.ClubType</strong></li>
                    @if (!String.IsNullOrEmpty(Model.Address))
                    {
                        <li><i class="icon-map-marker"></i><strong>@Model.Address</strong></li>
                    }
                </ul>
            </div>


            <div style="margin-top: 125px;">
                <div style="height: 30px;">
                    @if (Model.IsSelf)
                    {
                        <button id="addWeekly" data-popover-holder="0" class="btn-link">
                            <i class="icon-plus-sign" style="margin-right: 5px;"></i>New
                        </button>
                        <div id="addWeeklyContent" class="hidden">
                            @Html.Partial("_WeeklyEditForm", new WeeklyViewModel())
                        </div>
                    }
                </div>
                <h2 style="font-weight: 600;">Weeklies</h2>
            </div>

            @if (Model.PartyAlbums.Any())
            {
                <div class="pics-widget">
                    <a class="black" href="@Url.Action("List", "Photos", new { id = Model.UserId })">
                        <h6 class="pics-widget-title">Party pics</h6>
                    </a>

                    @foreach (var a in Model.PartyAlbums)
                    {
                        <div>
                            <a class="album-name" href="@Url.Action("List", "Photos", new { id = Model.UserId, albumId = a.AlbumId })">
                                <h6>@a.AlbumName</h6>
                            </a>
                        </div>
                        <ul>
                            @{
                        var i = 1;

                        foreach (var p in a.Photos)
                        {
                                <li>
                                    <a data-toggle="lightbox" data-target="#photo-@p.PhotoId" 
                                           href="@p.PhotoUrl.OriginalLink">

                                        @if (i == 1)
                                        {
                                            <img src="@p.PhotoUrl.MediumLink" />
                                        }
                                        else
                                        {
                                            <img src="@p.PhotoUrl.VerySmallLink" />
                                        }

                                    </a>
                                    @Html.Partial("_LightBoxPartial", p)
                                </li>
                                
                                        i++;

                        }
                            }
                        </ul>
                        <div class="clearfix"></div>
                    }

                    <div class="text-center">
                        <a href="@Url.Action("List", "Photos", new { id = Model.UserId })">See more...</a>
                    </div>
                </div>
            }

        </div>

        @*CENTER*@
        <div class="span6 color-white-bg box-shadow padding-bottom-100 margin-left-10">

            <div class="text-center margin-bottam-20">
                <div class="club-profile-pic">
                    <img src="@Model.UserPhoto.SmallLink"/>
                </div>

                <h3>@Model.UserName</h3>

            </div>

            <div class="row-fluid margin-bottam-20 center-top-color follow-img margin-top-15 box-shadow-2">
                <span class="arrow-left hidden-phone"></span>
                <span class="arrow-right hidden-phone"></span>
                <div class="span4 margin-top-10">Followers<span class="follow-no-bg margin-left-10">@Model.FollowersCount</span></div>
                <div class="span4 margin-top-10">Following<span class="follow-no-bg margin-left-10">@Model.FollowingsCount</span></div>
                <div class="span3 margin-top-10">Votes<span class="follow-no-bg margin-left-10">@Model.ReceivedVotesCount</span></div>
            </div>

            <div style="margin-top: 100px;" class="visible-phone"></div>
            
            <div class="weeklies-container">
                <ul class="weeklies-items">
                    @foreach (var w in Model.Weeklies)
                    {
                        @Html.Partial("_WeeklyItem", w)
                    }
                </ul>
            </div>
            
            

            <div class="padding-L-R-10">
                @Html.Partial("_PostInputsPartial")

                @Html.Partial("_FeedsPartial", Model.Feeds)
            </div>
        </div>


        @*RIGHT*@
        <div class="span3 padding-top-17">
            <div style="height: 69px;">
                @if (!Model.IsSelf)
                {
                    if (Model.IsCurrentUserFollowingTheClub)
                    {   
                        <button data-btn-follow="1" data-id="@Model.UserId"
                                data-url="@Url.Action("Unfollow", "Follow", new {id=Model.UserId})"
                                data-action="unfollow" data-placement="right" class="btn btn-zazz btn-follow">
                            <i class="icon-remove"></i> Unfollow
                        </button>
                    }
                    else
                    {
                        <button data-btn-follow="1" data-id="@Model.UserId" data-url="@Url.Action("FollowUser", "Follow", new {id=Model.UserId})"
                                data-action="follow" class="btn btn-zazz btn-follow">
                            <i class="icon-plus"></i> Follow
                        </button>
                    }
                }
            </div>
            <div style="margin-top: 135px;">
                <h2 style="font-weight: 600;">Special Events</h2>
                <div class="club-events">
                    <h6 class="club-events-title">Events</h6>
                    
                    @foreach (var e in Model.Events)
                    {
                        @Html.Partial("_EventPartialSmall", e)
                    }

                </div>
            </div>
        </div>


    </div>
</div>

@Html.Partial("_PhotoGalleryModal")

@*<div class="container">
    <img id="coverImg" class="img-polaroid" src="@Model.CoverPhotoUrl" />

    <div style="min-height: 120px;">

        <div class="pull-left">
            <table class="club-details">
                <tbody>
                    <tr>
                        <td><i class="icon-certificate"></i></td>
                        <td><a href="@Url.Action("List", "ClubRewards", new {id=Model.UserId})">Rewards</a></td>
                    </tr>
                    <tr>
                        <td><i class="icon-glass"></i></td>
                        <td>@Model.ClubType</td>
                    </tr>
                    <tr>
                        <td><i class="icon-map-marker" style="margin-left: 1px;"></i></td>
                        <td>@Model.Address</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="pull-right">
            
            <div class="club-party-web-info text-center">
                
                <i class="badge badge-info followers-count">@Model.FollowersCount</i>
                <br/>
                <div>Party Web</div>
                
                @if (!Model.IsSelf)
                {
                     if (Model.IsCurrentUserFollowingTheClub)
                     {
                         <button data-btn-follow="1" data-id="@Model.UserId" data-url="/follow/unfollow/@Model.UserId" data-action="unfollow"
                         title="un-follow user" data-placement="right" class="btn btn-follow btn-info"><i class="icon-remove"></i></button>
                     }
                     else
                     {
                         <button data-btn-follow="1" data-id="@Model.UserId" data-url="/follow/followuser/@Model.UserId" data-action="follow" 
                         title="follow user" data-placement="right" class="btn btn-follow btn-info"><i class="icon-plus"></i></button>
                     }
                    
                }
            </div>
            

        </div>

        <div class="profile-center">
            <img id="profilePic" class="img-polaroid img-rounded" src="@Model.UserPhoto.SmallLink" />
            <h3>@Model.UserName</h3>
        </div>
    </div>

    <div class="clearfix"></div>
        
    <div id="add-weekly-content" class="hidden">
        @Html.Partial("_WeeklyEditForm", new WeeklyViewModel())
    </div>
    
    <div class="weeklies-container">
        <div class="weeklies-text-container">
            @if (Model.IsSelf)
            {
                <button id="add-weekly" style="position: absolute;" class="btn-link" data-popover-holder="0"><strong>Add</strong></button>
            }
            
            
            <div class="weeklies-text">Weeklies</div>
        </div>
        <ul class="weeklies-items">
            @foreach (var w in Model.Weeklies)
            {
                @Html.Partial("_WeeklyItem", w)
            }
        </ul>
        <div class="special-events">
            @if (Model.SpecialEventsCount > 0)
            {
                <div class="special-events-count badge badge-important">@Model.SpecialEventsCount</div>
            }
            
            <div class="special-events-text" style="margin-bottom: 18px;">Special</div>
            <div class="special-events-text">Events</div>

        </div>
    </div>
    <div class="clearfix"></div>
    

    @if (Model.IsSelf)
    {
        <div>
            @Html.Partial("_PostInputsPartial")
        </div>
    }
    else
    {
        <div id="profileTabs">
            <textarea data-tag="1" placeholder="Post something on @Model.UserName's wall" id="postInput"></textarea>
            <button type="button" class="btn btn-primary" id="submitPostBtn" data-touser="@Model.UserId">Submit</button>
        </div>
    }
    
    <div class="well party-albums">
        <a class="black" href="~/photos/list/@Model.UserId"><h6>Party Albums</h6></a>
        
        @if (Model.PartyAlbums.Any())
        {
            foreach (var a in Model.PartyAlbums)
            {
                <strong><a href="@String.Format("/photos/list/{0}?albumId={1}", Model.UserId, a.AlbumId)">@a.AlbumName</a> </strong>
                <ul class="party-images">
                
                    @foreach (var p in a.Photos)
                    {
                        <li><a href="#" data-toggle="lightbox" data-target="#photo-@p.PhotoId"><img src="@p.PhotoUrl.SmallLink"/></a></li>
                        @Html.Partial("_LightBoxPartial", p)
                    }
                </ul>
                <div class="clearfix"></div>
            }

            <div class="text-center"><a href="~/photos/list/@Model.UserId">See more...</a></div>
        }
        else
        {
            <div class="text-center"><strong>No party album is uploaded yet!</strong></div>
        }
        
    </div>


    <div id="feedContent">
        @Html.Partial("_FeedsPartial", Model.Feeds)
    </div>

    <div class="clearfix"></div>
</div>

@Html.Partial("_PhotoGalleryModal")

@section ScriptsTop
{
    <script type="text/javascript">

        @{
            var categorySelect = Html.Partial("_CategoriesSelect").ToString();
            categorySelect = categorySelect.Replace(Environment.NewLine, "");
        }

        var categoriesSelectHtml = '@Html.Raw(categorySelect)';


    </script>
}*@