@using Zazz.Core.Models.Data
@using Zazz.Web.Controllers
@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";

    var categories = Enumerable.Empty<Category>();
    var controller = ViewContext.Controller as BaseController;
    if (controller != null)
    {
        categories = controller.StaticDataRepository.GetCategories();
    }
}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#newsFeedTab" data-toggle="tab"><i class="icon-list-alt"></i> News Feed</a></li>
        <li><a id="photosTabLink" href="@Url.Action("Photos", "Users", new {id=Model.UserId})"><i class="icon-camera"></i> Photos</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active row-fluid" id="newsFeedTab">
            
            <textarea data-tag="1" class="span12" placeholder="What's on your mind?" id="postInput"></textarea>
            <button type="button" class="btn btn-primary " id="submitPostBtn" data-target="#selectPostCategoryModal" data-toggle="modal">Submit</button>
            
            @*Post-Categories Modal*@

            <div class="modal hide fade" id="selectPostCategoryModal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Select Category</h3>
                </div>

                <div class="modal-body">
                    <div class="categories-select">
                        <ul>

                            @foreach (var c in categories)
                            {
                                <li>
                                    <button data-id="@c.Id" type="button" class="btn category-select-btn " data-toggle="button">
                                        <img data-active-url="@String.Format("/Images/categories/{0}-active.png", c.Name)" data-default-url="@String.Format("/Images/categories/{0}.png", c.Name)"
                                             src="@String.Format("/Images/categories/{0}.png", c.Name)" />
                                    </button>
                                    <div class="text-center">@c.Name</div>
                                </li>
                            }

                        </ul>
                    </div>

                    <p>
                        <button id="selectPostCategoriesBtn" class="btn btn-primary btn-block" style="margin-top: 20px;">Submit</button>
                    </p>

                </div>

                <div class="modal-footer">

                    <a href="#" data-dismiss="modal" class="btn">Close</a>
                </div>
            </div>
            
            <div style="margin-top:25px;">
                @Html.Partial("_FeedsPartial", Model.Feeds)
            </div>
        </div>
        <div class="tab-pane margin-ten" id="photosTab">
            
        </div>
    </div>
</div>