@model UserFollowersViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_UserProfileLayout.cshtml";
}

<div class="tabbable">
    <ul class="nav nav-tabs">
        <li><a href="@Url.Action("Profile", "Users", new { id = Model.UserId })"><i class="icon-list-alt"></i> News Feed</a></li>
        <li><a id="photosTabLink" href="@Url.Action("Photos", "Users", new {id=Model.UserId})"><i class="icon-th-large"></i> Photos</a></li>
    </ul>
</div>

@if (Model.IsSelf && Model.FollowRequests.Any())
{
    <div style="margin: 25px 0 50px 0;">
        <h3>Follow Requests</h3>
        <table class="table table-striped">
            @foreach (var r in Model.FollowRequests)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Profile", "Users", new {id = r.Id})" target="_blank">
                            <img style="max-width: 60px;max-height: 60px;"
                                 src="@Html.Action("GetVerySmallDisplayPicture", new { userId = r.Id })" alt="@r.DisplayName" />
                        </a>
                    </td>
                    <td style="padding-top: 29px; width: 230px;"><a href="@Url.Action("Profile", "Users", new {id = r.Id})" target="_blank"><strong>@r.DisplayName</strong></a></td>
                    <td style="padding-top: 22px;" class="text-right">
                        <a href="@Url.Action("AcceptFollow", "Follow", new { id = r.Id })" class="btn btn-primary pull-right">Accept</a>
                    </td>
                    <td style="padding-top: 22px;" class="text-right">
                        <a href="@Url.Action("RejectFollow", "Follow", new { id = r.Id })" class="btn">Reject</a>
                    </td>
                </tr>
            }
        </table>
    </div>
}

@if (Model.Followers.Any())
{
    @Html.Partial("_UserList", Model.Followers)
}
else
{
    <div id="notFollowersText" class="text-center" style="margin-top: 100px;">
        <h3>This user does not have any followers yet!</h3>
    </div>
}
