@model UserProfileViewModel
@{
    ViewBag.Title = Model.UserName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoLightboxes = String.Empty;
}

<div class="container" style="margin-top: -13px;">

    @*LEFT*@

    <div class="row-fluid">
        <div class="span3 margin-top-15 text-center">

            <div>
                <img class="img-polaroid img-rounded" src="@Model.UserPhoto.SmallLink"/>
                <p class="username-display">@Model.UserName</p>
            </div>

            <div class="follow-btn">
                <p>Follow</p>
            </div>

            @if (!String.IsNullOrEmpty(Model.City) || !String.IsNullOrEmpty(Model.School) || !String.IsNullOrEmpty(Model.Major))
            {
                <div class="user-details">
                    <ul>
                        @if (!String.IsNullOrEmpty(Model.City))
                        {
                            <li><i class="icon-globe"></i>City: @Model.City</li>
                        }

                        @if (!String.IsNullOrEmpty(Model.School))
                        {
                            <li><i class="icon-building"></i>@Model.School</li>
                        }

                        @if (!String.IsNullOrEmpty(Model.Major))
                        {
                            <li><i class="icon-book"></i>@Model.Major</li>
                        }
                    </ul>
                </div>
            }

            @if (Model.Photos.Any())
            {
                <div class="pics-widget">
                    <a class="black" href="@Url.Action("List", "Photos", new { id = Model.UserId })">
                        <h6>Party pics</h6>
                    </a>
                    <ul>
                        @{
                var i = 1;

                foreach (var p in Model.Photos)
                {
                            <li>
                                <a data-toggle="lightbox" data-target="#photo-@p.PhotoId" href="@p.PhotoUrl.OriginalLink">
                                    @if (i == 1)
                                    {
                                        <img src="@p.PhotoUrl.MediumLink" />
                                    }
                                    else
                                    {
                                        <img src="@p.PhotoUrl.VerySmallLink" />
                                    }
                                </a>

                                @{ photoLightboxes += Html.Partial("_LightBoxPartial", p); }
                            </li>

                                   i++;
                }
                        }

                    </ul>
                    <div class="clearfix"></div>

                    <div class="text-center" style="margin-top: 10px;">
                        <a href="@Url.Action("List", "Photos", new { id = Model.UserId })">See more...</a>
                    </div>

                </div>
            }

        </div>

        @*CENTER*@
        <div class="span6 color-white-bg box-shadow padding-top-17 padding-bottom-100 margin-left-10">
            <div class="row-fluid margin-bottam-20 center-top-color follow-img margin-top-15 box-shadow-2">
                <span class="arrow-left hidden-phone"></span>
                <span class="arrow-right hidden-phone"></span>
                <div class="span4 margin-top-10">Followers<span class="follow-no-bg margin-left-10">@Model.FollowersCount</span></div>
                <div class="span4 margin-top-10">Following<span class="follow-no-bg margin-left-10">@Model.FollowingsCount</span></div>
                <div class="span3 margin-top-10">Votes<span class="follow-no-bg margin-left-10">@Model.ReceivedVotesCount</span></div>
            </div>
            
            <div style="margin-top: 100px;" class="visible-phone"></div>

            <div class="padding-L-R-10">
                @Html.Partial("_PostInputsPartial")

                @Html.Partial("_FeedsPartial", Model.Feeds)
            </div>
        </div>


        @*RIGHT*@
        <div class="span3"></div>

    </div>

</div>




@*<div class="container" id="user-profile-container">

    <section class="left-panel">

        <img id="user-profile-image" class="img-polaroid img-small-rounded" src="@Model.UserPhoto.SmallLink" />
        <div class="username"><a href="~/users/profile/@Model.UserId">@Model.UserName</a></div>

        <div class="party-web">
            <div class="followers-box">@Model.FollowersCount</div>
            <div>Party Web</div>

            @if (!Model.IsSelf)
            {
                if (Model.IsCurrentUserFollowingTargetUser)
                {
                <button data-btn-follow="1" data-id="@Model.UserId" data-url="/follow/unfollow/@Model.UserId" data-action="unfollow"
                         title="un-follow user" data-placement="right" class="btn btn-follow btn-info">
                    <i class="icon-remove"></i>
                </button>
                }
                else if (Model.FollowRequestAlreadySent)
                {
                <button data-btn-follow="1" title="Follow request has been sent before. You must wait for the user to accept your request."
                    class="btn btn-follow btn-info disabled" disabled="disabled">
                    <i class="icon-ok"></i>
                </button>
                }
                else
                {
                <button data-btn-follow="1" data-id="@Model.UserId" data-url="/follow/followuser/@Model.UserId" data-action="follow" 
                         title="follow user" data-placement="right" class="btn btn-follow btn-info">
                    <i class="icon-plus"></i>
                </button>
                }

                <div class="clearfix"></div>

                if (Model.IsTargetUserFollowingCurrentUser)
                {
                <p data-id="@Model.UserId" id="followsYouSign" class="label label-success">Follows you <i class="icon icon-ok-sign"></i></p>
                }
            }


        </div>
        @if (!String.IsNullOrEmpty(Model.City) || !String.IsNullOrEmpty(Model.School) || !String.IsNullOrEmpty(Model.Major))
        {
            <ul class="well well-small user-info">
                @if (!String.IsNullOrEmpty(Model.City))
                {
                    <li><i class="icon-home"></i>Montreal</li>
                }

                @if (!String.IsNullOrEmpty(Model.School))
                {
                    <li><i class="icon-building"></i>Concorida University</li>
                }

                @if (!String.IsNullOrEmpty(Model.Major))
                {
                    <li><i class="icon-book"></i>Major: Getting Backout</li>
                }
            </ul>
        }

        @if (Model.Photos.Any())
        {
            <div class="well pics-widget">
                <a class="black" href="~/photos/list/@Model.UserId">
                    <h6>Party pics</h6>
                </a>
                <ul>
                    @foreach (var p in Model.Photos)
                    {
                        <li>
                            <a data-toggle="lightbox" data-target="#photo-@p.PhotoId" href="@p.PhotoUrl.OriginalLink">
                                <img src="@p.PhotoUrl.VerySmallLink" /></a>
                            @{ photoLightboxes += Html.Partial("_LightBoxPartial", p); }
                        </li>
                    }
                </ul>
                <div class="clearfix"></div>

                <div class="text-center" style="margin-top: 10px;">
                    <a href="~/photos/list/@Model.UserId">See more...</a>
                </div>

            </div>
        }

    </section>
    <section class="middle-panel">
        <div style="margin-top: -9px">
            @if (Model.IsSelf)
            {
                @Html.Partial("_PostInputsPartial")
            }
            else
            {
                <div id="profileTabs" class="margin-ten">
                    <textarea data-tag="1" placeholder="Post something on @Model.UserName's wall" id="postInput"></textarea>
                    <button type="button" class="btn btn-primary" id="submitPostBtn" data-touser="@Model.UserId">Submit</button>
                </div>
            }

        </div>

        <div class="margin-ten">

            @Html.Partial("_FeedsPartial", Model.Feeds)
        </div>
    </section>
    <section class="right-panel">
        <ul class="tag-stats" style="position: relative;">
            @foreach (var t in Model.TagsStats)
            {
                <li class="tag-header"><a href="~/home/categories?select=@t.CategoryName" data-tag="@t.CategoryName">#@t.CategoryName</a></li>
                <li>@(t.UsersCount == 1 ? "1 person is" : t.UsersCount + " people are") talking about this.</li>
            }
        </ul>
    </section>

    @Html.Raw(photoLightboxes)

</div>

@section ScriptsTop
{
    <script type="text/javascript">

        @{
            var categorySelect = Html.Partial("_CategoriesSelect").ToString();
            categorySelect = categorySelect.Replace(Environment.NewLine, "");
        }

        var categoriesSelectHtml = '@Html.Raw(categorySelect)';


    </script>
}*@