@model Zazz.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="container">
    <div>
        <h1>Zazz</h1>
    </div>

    <div class="well" style="margin-top: 50px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
                    
            <fieldset>
                <legend>Login</legend>
                @if (TempData["alert"] != null && ((bool)TempData["alert"]))
                {
                    <div class="alert alert-block @TempData["alertClass"]">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>@TempData["alertMessage"]</p>
                    </div>
                }

                <div class="row">
                    <div class="span8">
                        <div class="control-group">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Username, new { @class = "span4" })
                                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "help-inline" })
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="editor-label">
                                @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                            </div>
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.Password, new { @class = "span4" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })
                            </div>
                        </div>

                        <a href="~/account/recover" style="float: left; margin-bottom: 15px;" class="forgot-password">Forgot password?</a>
                        <div class="clearfix"></div>
                        <p>
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </p>
                    </div>
                    <div class="span3">
                        <a href="~/account/oauth/facebook" class="btn-auth btn-facebook large">Login with facebook</a>
                    </div>
                </div>



            </fieldset>
        }

    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/js")
}
