@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}
<div class="container color-white-bg margin-top-15 padding-bottom-100 padding-L-R-20 border-radius-5" style="margin-bottom: 10.5%;">
    <div class="row-fluid">
        <div class="span12 border-bottom-2">
            <h4 class="lead-1">
                <i class="icon-lock icon-2x"></i>
                Login
            </h4>
        </div>
    </div>

    <div class="row-fluid margin-top-10 margin-bottam-20">

        <div class="span6">
            <div class="zazz-form zazz-form2">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        @if (TempData["alert"] != null && ((bool)TempData["alert"]))
                        {
                            <div class="alert alert-block @TempData["alertClass"]">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <p>@TempData["alertMessage"]</p>
                            </div>
                        }

                        <div class="control-group">
                            <div class="editor-field">
                                @Html.TextBoxFor(model => model.Username, new { @class = "span4", @placeholder = "Username", @style = "height:40px;" })
                                @Html.ValidationMessageFor(model => model.Username, null, new { @class = "help-inline" })
                            </div>
                        </div>

                        <div class="control-group">
                            <div class="editor-field">
                                @Html.PasswordFor(model => model.Password, new { @class = "span4", @placeholder = "Password", @style = "height:40px;" })
                                @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })
                            </div>
                        </div>

                        <a href="@Url.Action("Recover")">Forgot Password</a>
                        <div class="clearfix"></div>

                        <button type="submit" class="btn btn-primary" style="margin-top: 25px;">Login</button>
                    </fieldset>

                }
            </div>
        </div>

        <div class="span6">
            <div class="social-media-box">
                <h1>Login with social media</h1>
                <div class="span12">
                    <a href="@Url.Action("OAuth", "Account", new { id = "facebook" })">
                        <img src="~/Images/F-login.png">
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>


@section Scripts
{
    @Scripts.Render("~/js")
}
