@model Zazz.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<div class="container">
    <div>
        <h1>Zazz</h1>
    </div>

    <div class="well" style="margin-top: 50px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>@ViewBag.Title</legend>

                <div class="control-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label required" })
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.NewPassword, new { @class = "span4"})
                        @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "help-inline" })
                    </div>
                </div>

                <div class="control-group">
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label required" })
                    </div>
                    <div class="editor-field">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "span4"})
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-inline" })
                    </div>
                </div>

                <hr />
                <p>
                    <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 25px;" />
                </p>
            </fieldset>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/js")
}



