@using Zazz.Infrastructure
@model FeedViewModel
@{
    Layout = null;
}
<div class="feed-item" data-id="@Model.FeedId">
    <a href="~/user/profile/@Model.UserId">
        <img title="@Model.UserDisplayName" src="@Model.UserImageUrl" class="feed-user-img img-small-rounded" />
    </a>

    <div class="feed-content well well-small no-padding">
        <div style="margin:10px;">
            <p>
                <a href="~/user/profile/@Model.UserId">@Model.UserDisplayName</a> has created a new <a href="~/event/show/@Model.EventViewModel.Id">event</a>
            </p>

            @Html.Partial("_EventPartial", Model.EventViewModel)

            <div title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()" class="pull-right font-verysmall" data-placement="right">@Model.Time.ToRelativeTime()</div>
            <div class="clearfix"></div>

        </div>

        @Html.Partial("FeedItems/_FeedComments", Model.CommentsViewModel)

    </div>


</div>
