@model CommentsViewModel
@{
    Layout = null;
}
<div class="feed-comments-section">
    <div>
        <img title="You" src="@Model.CurrentUserPhotoUrl" class="img-small-rounded"/>
        <input data-id="@Model.ItemId" data-feedType="@Model.FeedType" type="text" class="comment-textbox" placeholder="Write a comment..." />
    </div>
    <ul class="feed-comments">

        @if (Model.Comments != null)
        {
            @Html.Partial("FeedItems/_CommentList", Model.Comments)
        }

    </ul>
    
    <button data-id="@Model.ItemId" data-feedType="@Model.FeedType" class="btn btn-small load-comments-btn"><i class="icon-comments-alt"></i> More...</button>

</div>
