@model PhotoViewModel[]
@{
    Layout = null;
}

<div class="row-fluid">
    <div class="span4">
        <a data-toggle="lightbox" data-target="#photo-@Model[0].PhotoId"
           href="@Model[0].PhotoUrl.OriginalLink">
            <img src="@Model[0].PhotoUrl.MediumLink" style="width:180px;height:140px;" />
        </a>

    </div>

    <div class="span4">
        <a data-toggle="lightbox" data-target="#photo-@Model[1].PhotoId"
           href="@Model[1].PhotoUrl.OriginalLink">
            <img src="@Model[1].PhotoUrl.MediumLink" style="width:180px;height:140px;" />
        </a>

    </div>

    <div class="span4">
        <a data-toggle="lightbox" data-target="#photo-@Model[2].PhotoId"
           href="@Model[2].PhotoUrl.OriginalLink">
            <img src="@Model[2].PhotoUrl.MediumLink" style="width:180px;height:140px;" />
        </a>
    </div>
</div>