@model FeedViewModel
<div class="feed-item well well-small">
    <p>
        <img src="@Model.UserImageUrl" class="feed-user-img img-rounded" />
        <a href="~/user/profile/@Model.UserId">@Model.UserDisplayName</a> has uploaded a new photo
   
    </p>
    <div class="feed-content">
        <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel.PhotoId" href="@Model.PhotoViewModel.PhotoUrl">
            <img class="img-rounded" style="width: 100%" src="@Model.PhotoViewModel.PhotoUrl" />
        </a>
    </div>

    @Html.Partial("_LightBoxPartial", Model.PhotoViewModel)

    <span title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()" style="margin-top: 15px;" class="pull-right font-verysmall">@Model.RelativeTime</span>
    <div class="clearfix"></div>
</div>
