@using Zazz.Infrastructure
@model FeedViewModel
@{
    Layout = null;
}
<div class="feed-item">
    <a href="~/user/profile/@Model.UserId">
        <img title="@Model.UserDisplayName" src="@Model.UserImageUrl" class="feed-user-img img-small-rounded" />
    </a>

    <div class="feed-content well well-small no-padding">

        @if (Model.PhotoViewModel.Count == 1)
        {   
            <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[0].PhotoId"
               href="@Model.PhotoViewModel[0].PhotoUrl">
                <img style="width: 100%" src="@Model.PhotoViewModel[0].PhotoUrl" />
            </a>

            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[0])
        
            <div title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()" data-placement="right"
                 class="pull-right font-verysmall" style="margin: 5px 5px 0 0;">@Model.Time.ToRelativeTime()
            </div>
            <div class="clearfix"></div>
        
        
@*<ul class="feed-options">
            <li><a href="#"><i class="icon-question-sign"></i> Option 1</a></li>
            <li><a href="#"><i class="icon-question-sign"></i> Option 2</a></li>
            <li><a href="#"><i class="icon-question-sign"></i> Option 3</a></li>
        </ul>*@
        
            <div class="clearfix" style="margin-bottom: 10px;"></div>
        
            @Html.Partial("FeedItems/_FeedComments", Model.CommentsViewModel)
        }
        else
        {
@*<div style="padding: 10px;">
                <a href="~/user/profile/@Model.UserId">@Model.UserDisplayName</a> Uploaded <a href="#">@Model.PhotoViewModel.Count new photos.</a>
            </div>*@

            
            // 2 photos

            if (Model.PhotoViewModel.Count == 2)
            {
            <div class="thumbnail-247" style="margin-top: 0;">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[0].PhotoId"
                                   href="@Model.PhotoViewModel[0].PhotoUrl">
                    <img src="@Model.PhotoViewModel[0].PhotoUrl"/>
                </a>

            </div>
            
            <div class="thumbnail-247" style="margin-top: 0; float: right;">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[1].PhotoId"
                           href="@Model.PhotoViewModel[1].PhotoUrl">
                    <img src="@Model.PhotoViewModel[1].PhotoUrl"/>
                </a>
            </div>
            
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[0])
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[1])
            
            }
            else if (Model.PhotoViewModel.Count == 3) // 3 photos
            {
            <div>
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[2].PhotoId"
                           href="@Model.PhotoViewModel[2].PhotoUrl">
                    <img style="width: 100%" src="@Model.PhotoViewModel[2].PhotoUrl" />
                </a>
            </div>
                
            <div class="thumbnail-247">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[0].PhotoId"
                                       href="@Model.PhotoViewModel[0].PhotoUrl">
                    <img src="@Model.PhotoViewModel[0].PhotoUrl"/>
                </a>

            </div>
            
            <div class="thumbnail-247">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[1].PhotoId"
                               href="@Model.PhotoViewModel[1].PhotoUrl">
                    <img src="@Model.PhotoViewModel[1].PhotoUrl"/>
                </a>

            </div>
            
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[0])
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[1])
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[2])
            }
            else if (Model.PhotoViewModel.Count == 4) // 4 photos
            {
            <div>
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[3].PhotoId"
                               href="@Model.PhotoViewModel[3].PhotoUrl">
                    <img style="width: 100%" src="@Model.PhotoViewModel[3].PhotoUrl" />
                </a>
            </div>
                
            <div class="thumbnail-163">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[0].PhotoId"
                                           href="@Model.PhotoViewModel[0].PhotoUrl">
                    <img src="@Model.PhotoViewModel[0].PhotoUrl"/>
                </a>

            </div>
            
            <div class="thumbnail-163">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[1].PhotoId"
                           href="@Model.PhotoViewModel[1].PhotoUrl">
                    <img src="@Model.PhotoViewModel[1].PhotoUrl"/>
                </a>

            </div>
            
            <div class="thumbnail-163" style="margin-right: 0;">
                <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[1].PhotoId"
                                   href="@Model.PhotoViewModel[2].PhotoUrl">
                    <img src="@Model.PhotoViewModel[2].PhotoUrl"/>
                </a>

            </div>
            
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[0])
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[1])
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[2])
            @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[3])
            }
            else if (Model.PhotoViewModel.Count == 5) // 5 photos
            {
                <div class="thumbnail-247" style="margin-top: 0;">
                    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[4].PhotoId"
                                       href="@Model.PhotoViewModel[4].PhotoUrl">
                        <img src="@Model.PhotoViewModel[4].PhotoUrl"/>
                    </a>

                </div>
            
                <div class="thumbnail-247" style="margin-top: 0; float: right;">
                    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[3].PhotoId"
                               href="@Model.PhotoViewModel[3].PhotoUrl">
                        <img src="@Model.PhotoViewModel[3].PhotoUrl"/>
                    </a>
                </div>
                
                <div class="thumbnail-163">
                    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[0].PhotoId"
                                               href="@Model.PhotoViewModel[0].PhotoUrl">
                        <img src="@Model.PhotoViewModel[0].PhotoUrl"/>
                    </a>

                </div>
            
                <div class="thumbnail-163">
                    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[1].PhotoId"
                               href="@Model.PhotoViewModel[1].PhotoUrl">
                        <img src="@Model.PhotoViewModel[1].PhotoUrl"/>
                    </a>

                </div>
            
                <div class="thumbnail-163" style="margin-right: 0;">
                    <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel[1].PhotoId"
                                       href="@Model.PhotoViewModel[2].PhotoUrl">
                        <img src="@Model.PhotoViewModel[2].PhotoUrl"/>
                    </a>

                </div>
            
                @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[0])
                @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[1])
                @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[2])
                @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[3])
                @Html.Partial("_LightBoxPartial", Model.PhotoViewModel[4])
            }
            
            <div class="clearfix"></div>
        }

    </div>
</div>

