@using Zazz.Infrastructure
@model FeedViewModel
@{
    Layout = null;
}
<div class="feed-item">
    <a href="~/user/profile/@Model.UserId">
        <img title="@Model.UserDisplayName" src="@Model.UserImageUrl" class="feed-user-img img-small-rounded" />
    </a>

    <div class="feed-content well well-small no-padding">

        @if (Model.PhotoViewModel.Count == 1)
        {   

            @Html.Partial("FeedItems/_PhotoFeedSinglePhoto", Model.PhotoViewModel[0])
        
            <div title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()" data-placement="right"
                 class="pull-right font-verysmall" style="margin: 5px 5px 0 0;">@Model.Time.ToRelativeTime()
            </div>
            <div class="clearfix"></div>
        
        
@*<ul class="feed-options">
            <li><a href="#"><i class="icon-question-sign"></i> Option 1</a></li>
            <li><a href="#"><i class="icon-question-sign"></i> Option 2</a></li>
            <li><a href="#"><i class="icon-question-sign"></i> Option 3</a></li>
        </ul>*@
        
            <div class="clearfix" style="margin-bottom: 10px;"></div>
        
            @Html.Partial("FeedItems/_FeedComments", Model.CommentsViewModel)
        }
        else
        {
            if (Model.PhotoViewModel.Count == 2) // 2 photos
            {
                @Html.Partial("FeedItems/_PhotoFeedTwoPhotos",
                    new[] {Model.PhotoViewModel[0], Model.PhotoViewModel[1]})
            }
            else if (Model.PhotoViewModel.Count == 3) // 3 photos
            {
                @Html.Partial("FeedItems/_PhotoFeedSinglePhoto", Model.PhotoViewModel[2])
            
                @Html.Partial("FeedItems/_PhotoFeedTwoPhotos",
                    new[] {Model.PhotoViewModel[0], Model.PhotoViewModel[1]})
            }
            else // 4 and higher
            {
            
            }
            
            <div class="clearfix"></div>
        }
        

        @foreach (var p in Model.PhotoViewModel)
        {
            @Html.Partial("_LightBoxPartial", p)
        }

    </div>
</div>

