@model FeedViewModel
<div class="feed-item">
    <a href="~/user/profile/@Model.UserId">
        <img title="@Model.UserDisplayName" src="@Model.UserImageUrl" class="feed-user-img img-small-rounded" />
    </a>

    <div class="feed-content well well-small no-padding" title="@Model.RelativeTime @Environment.NewLine (@Model.Time.ToLongDateString() @Model.Time.ToShortTimeString())" data-placement="right">

        <a data-toggle="lightbox" data-target="#photo-@Model.PhotoViewModel.PhotoId" href="@Model.PhotoViewModel.PhotoUrl">
            <img style="width: 100%" src="@Model.PhotoViewModel.PhotoUrl" />
        </a>

        @Html.Partial("_LightBoxPartial", Model.PhotoViewModel)

        <div class="clearfix"></div>
        
        
        <ul class="feed-options">
            <li><a href="#"><i class="icon-question-sign"></i> Option 1</a></li>
            <li><a href="#"><i class="icon-question-sign"></i> Option 2</a></li>
            <li><a href="#"><i class="icon-question-sign"></i> Option 3</a></li>
        </ul>
        
        <div class="clearfix"></div>

        <hr class="no-margin"/>

    </div>



</div>
