@model FeedViewModel
<div class="feed-item well well-small">
    <p>
        <img src="@Model.UserImageUrl" class="feed-user-img" />
        <a href="~/user/profile/@Model.UserId">@Model.UserDisplayName</a> uploaded a new photo
   
    </p>
    <div class="feed-content">
        <a href="@Model.PhotoUrl" target="_blank"><img style="width: 100%" src="@Model.PhotoUrl" /></a>
    </div>

    <span style="margin-top: 15px;" class="pull-right font-verysmall">@Model.Time</span>
    <div class="clearfix"></div>
</div>
