@model FeedViewModel
@{
    Layout = null;
}

<div class="feed-item">
    <a href="~/user/profile/@Model.UserId">
        <img title="@Model.UserDisplayName" src="@Model.UserImageUrl" class="feed-user-img img-small-rounded" />
    </a>

    <div class="feed-content well well-small no-padding">
        @if (Model.IsFromCurrentUser)
        {
            <div class="feed-actions btn-group">
                <button title="Edit Post" type="button" class="btn editFeedBtn icononly-btn" data-id="@Model.PostViewModel.PostId"><i class="icon-pencil"></i></button>
                <button title="Remove Post" type="button" data-url="/post/remove/@Model.PostViewModel.PostId"
                    class="btn removeFeedBtn icononly-btn">
                    <i class="icon-remove"></i>
                </button>
            </div>
        }

        <p class="post-feed-message">
            @Model.PostViewModel.PostText
        </p>

        <div class="clearfix" style="margin-bottom: 10px;"></div>

        @Html.Partial("FeedItems/_FeedComments", Model.CommentsViewModel)
    </div>
</div>
