@model FeedViewModel
@{
    Layout = null;
}

<div class="feed-item" data-id="@Model.FeedId">
    <div class="feed-userimg-container">
        <a href="~/users/profile/@Model.UserId">
            <img alt="@Model.UserDisplayName" title="@Model.UserDisplayName" 
                 src="@Model.UserDisplayPhoto.VerySmallLink" class="feed-user-img img-small-rounded" />
        </a>

        @if (Model.Post.ToUserId.HasValue)
        {
            <br/>
            <div class="text-center"><i class="icon-caret-down icon-large" style="color: black;"></i></div>
            <div>
                <a href="~/users/profile/@Model.Post.ToUserId">
                    <img alt="@Model.Post.ToUserDisplayName" title="@Model.Post.ToUserDisplayName" 
                         src="@Model.Post.ToUserDisplayPhoto.VerySmallLink" class="feed-user-img img-small-rounded" />
                </a>
            </div>
            
        }

    </div>
    <div class="feed-content well well-small no-padding">
        @if (Model.IsFromCurrentUser || Model.CanCurrentUserRemoveFeed)
        {
            <div class="feed-actions btn-group">
                @if (Model.IsFromCurrentUser)
                {
                    <button title="Edit Post" type="button"
                            class="btn editFeedBtn icononly-btn" data-id="@Model.Post.PostId">
                        <i class="icon-pencil"></i>
                    </button>
                }
                <button title="Remove Post" type="button" data-url="/posts/remove/@Model.Post.PostId"
                        class="btn removeFeedBtn icononly-btn">
                    <i class="icon-remove"></i>
                </button>
            </div>
        }

        <p class="post-feed-message" data-containsTags="1" data-containsLinks="1">
            @foreach (var item in Model.Post.Message)
            {
                if (item.ClubId >= 0) {<a class="tag-filter-link" href="@Url.Action("Profile", "Users", new { id = item.ClubId })">@item.Text</a>}
                else { <span>@item.Text</span> }
            }
        </p>
        
        @if (Model.Post.Categories != null)
        {
            foreach (var category in Model.Post.Categories)
            {
                <button class="category-icon" onclick="$('#@category.ToFileName()').click();">
                    <img class="category-post-img" data-name="@category.ToFileName()" src="@String.Format("/Images/categories/32/{0}.png", @category.ToFileName())"/>
                </button>
            }
        }
        
        <div class="clearfix"></div>
        <div title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()" data-placement="right" class="pull-right font-verysmall" style="margin: 5px 5px 0 0;">@Html.RelativeTime(Model.Time)</div>
        <div class="clearfix" style="margin-bottom: 10px;"></div>

        @Html.Partial("FeedItems/_FeedComments", Model.Comments)
    </div>
</div>
