@model CommentViewModel
@{
    Layout = null;
}
<li class="feed-comment">
    <a href="~/user/profile/@Model.UserId" title="@Model.UserDisplayName">
        <img src="@Model.UserPhotoUrl" class="img-small-rounded pull-left" />
    </a>
    
    <p class="comment-text">@Model.CommentText</p>
    <span title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()" data-placement="right" class="pull-right font-verysmall">@Model.Time.ToRelativeTime()</span>
    <div class="clearfix"></div>
</li>
