@model CommentViewModel
@{
    Layout = null;
}
<li class="feed-comment" data-id="@Model.CommentId">
    <a href="~/users/profile/@Model.UserId">
        <img src="@Model.UserDisplayPhoto.VerySmallLink" alt="@Model.UserDisplayName"
            class="img-small-rounded pull-left" title="@Model.UserDisplayName"/>
    </a>
    
    <p class="comment-text">@Model.CommentText</p>
    <div>
        @if (Model.IsFromCurrentUser)
        {
            <ul class="comment-options">
                <li><a href="#" class="font-verysmall comment-remove" data-id="@Model.CommentId"><i class="icon-remove"></i>Remove</a></li>
                <li><a href="#" class="font-verysmall comment-edit" data-id="@Model.CommentId"><i class="icon-pencil"></i>Edit</a></li>
            </ul>
        }

        <span title="@Model.Time.ToLongDateString() - @Model.Time.ToShortTimeString()"
              data-placement="right" class="pull-right font-verysmall">@Html.RelativeTime(Model.Time)</span>
    </div>
    
    <div class="clearfix"></div>
</li>
