@model EventDetailsPageViewModel

@{
    ViewBag.Title = Model.EventViewModel.Name;
    var isMapAvailable = (Model != null && Model.EventViewModel.Latitude.HasValue && Model.EventViewModel.Longitude.HasValue);
}

<div class="container white-bg border-radius-5"  style="padding: 10px 20px 100px 20px;">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header row-fluid">
                <div class="span4">
                    <h4>
                        @Model.EventViewModel.Name
                    </h4>
                </div>
                
                @if (Model.EventViewModel.IsOwner)
                {
                    <div class="offset2 span6 text-right">
                        <a href="@Url.Action("Edit", "Events", new { id = Model.EventViewModel.Id })" class="btn"><i class="icon-pencil"></i> Edit</a>
                        <a href="@Url.Action("Remove", "Events", new { id = Model.EventViewModel.Id })" class="btn"><i class="icon-remove"></i> Remove</a>
                    </div>
                }
                
            </div>
        </div>
    </div>
    
    <div class="row-fluid">
        
        <div class="span4">
            <img src="@Model.EventViewModel.ImageUrl.MediumLink"/>
        </div>
        
        <div class="span8">
            <div class="well">
                <p>
                    @Model.EventViewModel.Description
                </p>

                <h3 style="margin: 0;">@Model.EventViewModel.Location</h3>
                <address>
                    @Model.EventViewModel.Street, @Model.EventViewModel.City<br/>
                
                    @Model.EventViewModel.Time.Date.ToLongDateString()

                    @if (!Model.EventViewModel.IsDateOnly)
                    {
                        <text> - </text>
                        @Model.EventViewModel.Time.DateTime.ToShortTimeString()
                    }

                </address>
            
                <div class="row-fluid">
                    <div class="span2">
                        @if (Model.EventViewModel.IsFacebookEvent)
                        {
                            <a href="https://www.facebook.com/events/@Model.EventViewModel.FacebookEventId.Value" class="btn"><i class="icon-facebook"></i>View this event on facebook</a>
                        }
                    </div>
                    <div class="span2 offset8 text-right">
                        @if (Model.EventViewModel.Price.HasValue)
                        {
                            <h4>@Model.EventViewModel.Price.Value.ToString("C")</h4>
                        }
                    </div>

                </div>

            </div>
        </div>
    </div>
    
    @if (isMapAvailable)
    {
        <div id="map-canvas"></div>
        
        
        @section ScriptsTop
        {
            <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-ZWW7fhSaFI1i3i3jjpJUuGPJZI87A6s&sensor=true" type="text/javascript"></script>
        }

        @section Scripts
        {
            <script type="text/javascript">

                $(function() {

                    var lat = @Model.EventViewModel.Latitude.Value;
                    var lng = @Model.EventViewModel.Longitude.Value;

                    var latlng = new google.maps.LatLng(lat, lng, false);
                    initMap(lat, lng);
                    placeMarker(latlng, 14);
                });

            </script>
        }

    }

</div>

@*<div class="container white-bg border-radius-5">
    <div class="row-fluid">
        <div class="lead span12 border-bottom-2">
            <h4>
                <h3>@Model.EventViewModel.Name</h3>
            </h4>
        </div>
    </div>

    <div class="margin-ten">
        <strong class="pull-right">@Model.EventViewModel.Time</strong>

        <img src="@Model.EventViewModel.ImageUrl.SmallLink" style="width: 128px;" />

        <p class="event-detail" data-containsTags="1" data-containsLinks="1">@Model.EventViewModel.Description</p>
        @if (Model.EventViewModel.Price.HasValue)
        {
            <p class="event-price"><strong>@Model.EventViewModel.Price.Value.ToString("C")</strong></p>    
        }

        <address>
            <strong>@Model.EventViewModel.Location</strong><br />
            @Model.EventViewModel.Street, @Model.EventViewModel.City

        </address>

        @if (isMapAvailable)
        {
            <div id="map-canvas" style="height: 400px;"></div>
            <div style="margin-bottom: 200px;"></div>
        }

    </div>
</div>

<div class="modal hide fade" id="remove-event-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Are you sure?</h3>
    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">No</a>
        <a href="~/events/remove/@Model.EventViewModel.Id" class="btn btn-primary">Yes</a>
    </div>
</div>


@section RightPanel
{
    <ul class="nav nav-list">

        @if (Model.EventViewModel.IsOwner)
        {
            <li><a href="~/events/edit/@Model.EventViewModel.Id"><i class="icon-pencil"></i>Edit Event</a></li>
            <li><a data-toggle="modal" data-target="#remove-event-modal" href="#"><i class="icon-remove"></i>Remove Event</a></li>
        }

        @if (Model.EventViewModel.FacebookEventId.HasValue)
        {
            <li class="disabled"><a href="https://www.facebook.com/events/@Model.EventViewModel.FacebookEventId.Value" class="disabled"><i class="icon-facebook"></i>Facebook Link</a></li>
        }
    </ul>
}

@if (isMapAvailable)
{
    @section ScriptsTop
    {
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-ZWW7fhSaFI1i3i3jjpJUuGPJZI87A6s&sensor=true" type="text/javascript"></script>
    }
    
    @section Scripts
{
        <script type="text/javascript">

            $(function() {
                    
                var lat = @Model.EventViewModel.Latitude.Value;
            var lng = @Model.EventViewModel.Longitude.Value;

            var latlng = new google.maps.LatLng(lat, lng, false);
            initMap(lat, lng);
            placeMarker(latlng, 14);
        });

        </script>
    }
}*@