@model EventDetailsPageViewModel

@{
    ViewBag.Title = Model.EventViewModel.Name;
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";

    var isMapAvailable = (Model != null && Model.EventViewModel.Latitude.HasValue && Model.EventViewModel.Longitude.HasValue);
}


<div>
    <div class="page-header">
        <h3>@Model.EventViewModel.Name</h3>
    </div>

    <div class="margin-ten">
        <strong class="pull-right">@Model.EventViewModel.Time</strong>

        <img src="@Model.EventViewModel.ImageUrl.SmallLink" style="width: 128px;" />

        <p class="event-detail" data-containsTags="1">@Model.EventViewModel.Description</p>
        @if (Model.EventViewModel.Price.HasValue)
        {
            <p class="event-price"><strong>@Model.EventViewModel.Price.Value.ToString("C")</strong></p>    
        }

        <address>
            <strong>@Model.EventViewModel.Location</strong><br />
            @Model.EventViewModel.Street, @Model.EventViewModel.City

        </address>

        @if (isMapAvailable)
        {
            <div id="map-canvas" style="height: 400px;"></div>
            <div style="margin-bottom: 200px;"></div> @* TODO: Remove this line later *@
        }

    </div>
</div>

<div class="modal hide fade" id="remove-event-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Are you sure?</h3>
    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">No</a>
        <a href="~/events/remove/@Model.EventViewModel.Id" class="btn btn-primary">Yes</a>
    </div>
</div>


@section RightPanel
{
    <ul class="nav nav-list">

        @if (Model.EventViewModel.IsOwner)
        {
            <li><a href="~/events/edit/@Model.EventViewModel.Id"><i class="icon-pencil"></i>Edit Event</a></li>
            <li><a data-toggle="modal" data-target="#remove-event-modal" href="#"><i class="icon-remove"></i>Remove Event</a></li>
        }

        @if (Model.EventViewModel.FacebookEventId.HasValue)
        {
            <li class="disabled"><a href="https://www.facebook.com/events/@Model.EventViewModel.FacebookEventId.Value" class="disabled"><i class="icon-facebook"></i>Facebook Link</a></li>
        }
    </ul>
}

@if (isMapAvailable)
{
    @section ScriptsTop
    {
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-ZWW7fhSaFI1i3i3jjpJUuGPJZI87A6s&sensor=true" type="text/javascript"></script>
    }
    
    @section Scripts
{
        <script type="text/javascript">

            $(function() {
                    
                var lat = @Model.EventViewModel.Latitude.Value;
            var lng = @Model.EventViewModel.Longitude.Value;

            var latlng = new google.maps.LatLng(lat, lng, false);
            initMap(lat, lng);
            placeMarker(latlng, 14);
        });

        </script>
    }
}