@using PagedList.Mvc
@model PagedList.IPagedList<PhotoViewModel>
@{
    Layout = null;
}
<div style="margin-top: 25px;">
    <ul class="thumbnails">
        @foreach (var p in Model)
        {
            <li class="thumbnail">
                <div>
                    <img src="@p.PhotoUrl" class="width-110" title="@p.PhotoDescription" />
                </div>
                <button style="margin-top: 5px;" class="btn btn-info btn-block" data-selectPhoto="1" data-id="@p.PhotoId" data-url="@p.PhotoUrl">Select</button>
            </li>
        }
    </ul>

    <div class="text-center" data-ajax-pagination="1" data-update="#pg-photos">
        @Html.PagedListPager(Model, page => String.Format("/album/getphotos/?albumId={0}&page={1}", ViewBag.AlbumId, page))
    </div>
</div>
