@using PagedList.Mvc
@model Zazz.Web.Models.AlbumListViewModel
@{
    ViewBag.Title = "Album List";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div>
    <div class="page-header">
        <h3>Albums</h3>
    </div>

    <div class="margin-ten">

        @if (Model.IsOwner)
        {
            <p><strong>Create a new album</strong></p>
            using (Html.BeginForm("CreateAlbum", "Album", FormMethod.Post, new { @class = "form-inline" }))
            {
            @Html.ValidationMessageFor(model => model.AlbumName, null, new { @class = "help-inline" })
            @Html.TextBoxFor(model => model.AlbumName, new { @class = "span5", @placeholder = "Album Name" })
            <button class="btn btn-success">Create</button>
            }

            <hr />
        }
        <ul class="thumbnails">

            @foreach (var album in Model.Albums)
            {
                <li>
                    <div class="thumbnail">
                        <a href="~/album/photos/@album.Id/1">
                            <img src="@album.ImageUrl" width="255" height="255" />
                        </a>
                        <h4>@album.Text</h4>

                        @if (Model.IsOwner)
                        {
                            <a href="~/album/remove/@album.Id" class="pull-right font-small">REMOVE</a>
                            <div class="clearfix"></div>
                        }

                    </div>
                </li>
            }

        </ul>

        <div class="text-center">
            @Html.PagedListPager(Model.Albums, page => Url.Action("List", new { page }))
        </div>

    </div>
</div>


