@using PagedList.Mvc
@model AlbumListViewModel
@{
    ViewBag.Title = "Album List";
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";
}

<div>
    <div class="page-header">
        <h3>Albums</h3>
    </div>

    <div class="margin-ten">

        <ul class="breadcrumb">
            <li class="active">Albums<span class="divider">/</span></li>
        </ul>


        @if (Model.IsOwner)
        {
            <p><strong>Create a new album</strong></p>
            using (Html.BeginForm("CreateAlbum", "Album", FormMethod.Post, new { @class = "form-inline" }))
            {
            @Html.ValidationMessageFor(model => model.AlbumName, null, new { @class = "help-inline" })
            @Html.TextBoxFor(model => model.AlbumName, new { @class = "span5", @placeholder = "Album Name" })
            <button class="btn btn-success">Create</button>
            }

            <hr />
        }

        <ul class="thumbnails">

            @foreach (var album in Model.Albums)
            {
                <li>
                    <div class="thumbnail photo-thumbnail">
                        <a href="~/album/photos/@album.PhotoId/1">
                            <img src="@album.PhotoUrl" />
                        </a>
                        <div class="photo-hover">
                            <span>@album.PhotoDescription</span>
                            @if (Model.IsOwner)
                            {
                                <button title="Remove Album" data-url="/album/remove/@album.PhotoId"
                                        class="btn btn-small icononly-btn pull-right remove-photo-btn">
                                    <i class="icon-remove"></i>
                                </button>
                                <div class="clearfix"></div>
                            }
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </li>
            }

        </ul>

        <div class="text-center">
            @Html.PagedListPager(Model.Albums, page => Url.Action("List", new { page }))
        </div>

    </div>
</div>


