@model CategoryStatViewModel

<a href="@Url.Action("Categories", "Home", new { @select=Model.CategoryName })">
    <div class="category category-left">
        <img data-active="@String.Format("/Images/categories/{0}-active.png", Model.CategoryName.ToFileName())" data-normal="@String.Format("/Images/categories/{0}.png", Model.CategoryName.ToFileName())" src="@String.Format("/Images/categories/{0}.png", Model.CategoryName.ToFileName())" class="category-img" />
        <div class="category-text">
            <h5 class="category-text-header">@Model.CategoryName</h5>
            <p>@Model.UsersCount talking about this.</p>
        </div>
    </div>
</a>