@model IEnumerable<ClubViewModel>
           
@{
    Layout = null;
}


@foreach (var club in Model)
{
    <div class="club-cover text-center" data-toggle="popover" data-content="@club.ClubName" data-placement="top" data-trigger="hover">
        <a href="@Url.Action("Profile", "Users", new {id=club.ClubId})">
            <img class="clubs-list-img" src="@club.CoverImageLink.MediumLink" alt="@club.ClubName" />
        </a>
        @*        <span class="club-name">@club.ClubName</span>*@
        <img class="club-profile-img img-polaroid" src="@club.ProfileImageLink.SmallLink" />

        @if (club.ClubId != club.CurrentUserId)
        {
            if (club.IsCurrentUserFollowing)
            {
                <img class="clubs-list-follow-img" src="/Images/following-icon.png"
                     title="Click to unfollow" alt="Following" data-id="@club.ClubId" data-action="unfollow" />
            }
            else
            {
                <img class="clubs-list-follow-img" src="/Images/follow-icon.png"
                     title="Follow" alt="Follow" data-id="@club.ClubId" data-action="follow" />
            }
        }

    </div>
}