@model EventViewModel
@{
    Layout = null;
}


<div class="event">
    <div class="media">
        <div class="pull-left">
            <img class="event-img" src="@Model.ImageUrl.SmallLink">
        </div>
        <div class="media-body">
            <a href="@Url.Action("Show", "Events", new { id = Model.Id, friendlySeoName = Model.Name.ToUrlFriendlyString() })">
                <h2 class="event-title">@Model.Name <small>- @Model.OwnerName</small></h2>
            </a>
            <p class="event-description">
                @Model.Description
            </p>
            <div>
                <div class="event-socal">
                    <ul>
                        @*<li><a href="#"><img src="~/Images/p.png" /></a></li>*@
                        @*<li><a href="#"><img src="~/Images/t.png" /></a></li>*@

                        @if (Model.IsFacebookEvent)
                        {
                            <li>
                                <a href="https://www.facebook.com/events/@Model.FacebookEventId.Value">
                                    <img src="~/Images/f.png" />
                                </a>
                            </li>
                        }



                    </ul>
                </div>
                <h3 class="event-date">@Model.FriendlyDate</h3>
            </div>
        </div>
    </div>
</div>
