@model EventViewModel
@{
    Layout = null;
}


<div class="event">
    <img class="event-cover" src="/Images/cover-image.gif" />
    <div class="media">
        <div class="media-body">
            <a href="@Url.Action("Show", "Events", new { id = Model.Id, friendlySeoName = Model.Name.ToUrlFriendlyString() })">
                <h2 class="event-title">@Model.Name</h2>
            </a>
            <div>
                @Model.Street, @Model.City
            </div>
            <div>
                @Model.FormatDate
            </div>
            <div>
                <div class="event-socal">
                    <ul>
                        @*<li><a href="#"><img src="~/Images/p.png" /></a></li>*@
                        @*<li><a href="#"><img src="~/Images/t.png" /></a></li>*@

                        @if (Model.IsFacebookEvent)
                        {
                            <li>
                                <a href="https://www.facebook.com/events/@Model.FacebookEventId.Value">
                                    <img src="~/Images/f.png" />
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
