@using Zazz.Core.Models.Data
@using Zazz.Core.Models.Data.Enums
@model FeedsViewModel
@{
    Layout = null;
}

<script>
    function getDocumentHeight() {
        return Math.max(
            Math.max(document.body.scrollHeight, document.documentElement.scrollHeight),
            Math.max(document.body.offsetHeight, document.documentElement.offsetHeight),
            Math.max(document.body.clientHeight, document.documentElement.clientHeight)
        );
    }
    window.onload = function () {
        $(window).scroll(function () {
            var docHeight = getDocumentHeight();
            if ($(window).scrollTop() + $(window).height() >= docHeight) {
                $('#load-feeds').click();
            }
        });
    }
</script>

<div id="feedsContainer">
    @if (Model.feeds.Count > 0)
    {
        @*<script type="text/javascript">
            var viewablePhotoIDs = [];
            $(document).on('click', 'a.lightbox-next', function () {
                var id = $(this).parent().siblings('.lightbox-img').attr('data-id');
                var index = viewablePhotoIDs.indexOf(parseInt(id));
                var next = 'a[data-target="#photo-' + viewablePhotoIDs[index+1] + '"]';
                $('.close').click();
                $(next).first().click();
            });
            $(document).on('click', 'a.lightbox-prev', function () {
                var id = $(this).parent().siblings('.lightbox-img').attr('data-id');
                var index = viewablePhotoIDs.indexOf(parseInt(id));
                var prev = 'a[data-target="#photo-' + viewablePhotoIDs[index - 1] + '"]';
                $('.close').click();
                $(prev).first().click();
            });
        </script>*@
        foreach (var feed in Model.feeds)
        {
            <div class="row-fluid">
                <div class="span12">
                    @if (feed.FeedType == FeedType.Event)
                    {
                        @Html.Partial("FeedItems/_EventFeedItem", feed)
                    }
                    else if (feed.FeedType == FeedType.Photo)
                    {
                        @*foreach (var p in feed.Photos)
                        {
                            <script type="text/javascript">
                                viewablePhotoIDs.push(@p.PhotoId);
                            </script>
                        }*@
                        @Html.Partial("FeedItems/_PicturePostFeedItem", feed)
                    }
                    else if (feed.FeedType == FeedType.Post)
                    {
                        @Html.Partial("FeedItems/_PostFeedItem", feed)
                    }
                </div>
            </div>
        }
    }
    else if (Model.remaining > 0)
    {
        <p>None this past week.</p>
    }
    else
    {
        <p>None Found.</p>
    }

    @if (Model.remaining > 0)
    {
        <button data-url="@Url.Action("LoadMoreFeeds", new { likedFeed = ViewBag.LikedFeed, userFollow = ViewBag.userFollow, inSameCity = ViewBag.inSameCity })" class="btn btn-block btn-inverse" id="load-feeds">Load More (@Model.remaining left) ...</button>
    }

</div>
