@using Zazz.Core.Models.Data
@using Zazz.Core.Models.Data.Enums
@model FeedsViewModel
@{
    Layout = null;
}
<div id="feedsContainer">
    @if(Model.feeds.Count > 0)
    {
        foreach (var feed in Model.feeds)
        {
            <div class="row-fluid">
                <div class="span12">
                    @if (feed.FeedType == FeedType.Event)
                    {
                        @Html.Partial("FeedItems/_EventFeedItem", feed)
                    }
                    else if (feed.FeedType == FeedType.Photo)
                    {
                        @Html.Partial("FeedItems/_PicturePostFeedItem", feed)
                    }
                    else if (feed.FeedType == FeedType.Post)
                    {
                        @Html.Partial("FeedItems/_PostFeedItem", feed)
                    }
                </div>
            </div>
        }
    }
    else if (Model.remaining > 0)
    {
        <p>None this past week.</p>
    }
    else
    {
        <p>None Found.</p>
    }

    @if (Model.remaining > 0)
    {
        <button data-url="@Url.Action("LoadMoreFeeds", new { ViewBag.LikedFeed })" class="btn btn-block btn-inverse" id="load-feeds">Load More (@Model.remaining left) ...</button>
    }

</div>
