<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Content/modernizr-2.6.2.js"></script>
</head>
<body>
    <!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div> <![endif]-->

    <nav class="navbar navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="~/">Zazz</a>
                <div class="pull-left">
                    <!--LEFT ITEMS-->
                    <form class="navbar-form" style="margin-left: 230px;">
                        <i class="icon-search" id="searchIcon"></i>
                        <input id="navbarSearch" class="span3" type="search" placeholder="Search"/>    
                    </form>
                    
                </div>
                <div class="pull-right">
                    <!--RIGHT ITEMS-->
                    <ul class="nav">
                        @Html.MenuLink("Home", "Index", "Home", "Index")
                        @Html.MenuLink("Events", "List", "Event", "List")
                        @Html.MenuLink("My Zazz Life", "Me", "User", "Me", "Index")
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-user"></i><i class="icon-caret-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/user/edit">Edit Profile</a></li>
                                <li><a href="~/account/changepassword">Change Password</a></li>
                                <li class="divider"></li>
                                <li><a href="~/account/signout">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </nav>

    <article>
        @RenderBody()
    </article>
    @*<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>*@
    
    <footer>
        <div class="container">
            <span class="font-light">&copy; @DateTime.UtcNow.Year ZazzLife.com</span>
        </div>
    </footer>

    @RenderSection("ScriptsTop", false)
    @Scripts.Render("~/js")
    @RenderSection("Scripts", false)
</body>
</html>
