@model PhotoViewModel
@{
    Layout = null;
}
<div id="photo-@Model.PhotoId" class="lightbox hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class='lightbox-header'>
        <button type="button" class="close" data-dismiss="lightbox" aria-hidden="true">&times;</button>
    </div>
    <div class='lightbox-content'>
        <img src="@Model.PhotoUrl"/>
        <div class="well pull-right no-padding lightbox-commentbox">
            
            <div class="photo-details">
                <div style="margin-bottom: 15px;">
                    <a href="~/user/profile/@Model.FromUserId">
                        <img  data-id="@Model.PhotoId"
                            src="@Model.FromUserPhotoUrl" class="img-small-rounded lightbox-commentbox-user-img"/>
                        <strong>@Model.FromUserDisplayName</strong>
                    </a>
                </div>
                <p>
                    @Model.PhotoDescription
                </p>

            </div>
            
            <div class="lightbox-commentsContainer">
                <h5>
                   Loading Comments...  <i style="margin-left: 5px;" class="icon-refresh icon-large icon-spin"></i>
                </h5>
            </div>

            
        </div>

    </div>
</div>
