@using Zazz.Core.Models.Data
@using Zazz.Web.Controllers
@{
    Layout = null;

    var categories = Enumerable.Empty<Category>();
    var controller = ViewContext.Controller as BaseController;
    var clubs = "";
    if (controller != null)
    {
        categories = controller.StaticDataRepository.GetCategories();
        clubs = controller.GetClubUsernames();
    }
}

<script>
    var ClubUsernames = [@Html.Raw(clubs)];

</script>
<style type="text/css">
    .inputshadow
    {
        /*-webkit-box-shadow: 0px 0px 3px 1px rgba(13,176,246,1);
        -moz-box-shadow: 0px 0px 3px 1px rgba(13,176,246,1);
        box-shadow: 0px 0px 3px 1px rgba(13,176,246,1);*/
        margin-left:0px !important;
        border: 1px solid rgba(82,168,236,0.8);
        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.8);
        border-radius:7px;
    }
    .inputshadow:focus
    {
        border: 1px solid rgba(82,168,236,0.8);
        box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(82,168,236,0.8);
        border-radius:7px;
    }
</style>
<div id="profileTabs">
    <div class="tabbable" style="height:auto !important;overflow:visible;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab"><i class="icon-pencil"></i> New Post</a></li>
            <li><a href="#tab2" data-toggle="tab"><i class="icon-camera"></i> Upload Photo</a></li>
        </ul>
        <div class="tab-content">
            
            <div class="tab-pane active row-fluid" id="tab1">
                
                <div class="span12 inputshadow" id="postInput1" contenteditable style="font-size:12px;padding:5px;height:70px;overflow:auto;"></div>
                    
                    <style type="text/css">
                        .yellow
                        {
                            color:#fbcb0c !important;
                        }
                    </style>
                    <div class="tag_container" id="tags_id" style="display:none;">
                        <select id="tag_select" data-tagtype ="user" data-placeholder="Select user" style="width:350px;" multiple class="chosen-select tag_select_a span12">
                            @{
                                var users = controller.getUsers();

                                foreach (User user in users)
                                {
                                     //<option value="[[:@user.Id]]|@user.Username|@user.Id">@user.Username</option>
                                    <option value="@("@"+user.Username)|@user.Username|@user.Id">@user.Username</option>
                                    
                                }
                            }
                        </select>
                    </div>
                    <div class="tag_container" id="club_id" style="display:none;">
                         <select data-placeholder="Select Club" data-tagtype ="club" style="width:350px;" multiple class="chosen-select tag_select_a span12">
                             @{
                                var allClubs = controller.getAllClubs();

                                foreach (User club in allClubs)
                                {
                                     <option value="@("@"+club.Username)|@club.Username|@club.Id">@club.Username</option>
                                }
                            }

                        </select>
                    </div>
                    <div class="tag_container" id="lock_id" style="display:none;">
                         <select data-placeholder="Select user" data-tagtype ="lock" style="width:350px;" multiple class="chosen-select tag_select_a1 span12">
                             @{
                                foreach (User user in users)
                                {
                                     <option value="@user.Id">@user.Username</option>
                                }
                            }
                        </select>
                    </div>
                    <div>&nbsp;
                    <div>
                        <button type="button" data-tagid="tags_id" class="tagbtn btn"><i class="icon-user" title="Tag users"></i></button>
                        <button type="button" data-tagid="club_id" class="tagbtn btn" style="font-size:18px;padding:4px 9px;"><b><strong>@("@")</strong></b></button>
                        <button type="button" data-tagid="lock_id" class="tagbtn btn"><i class="icon-lock" title="Lock users"></i></button>
                    
                        <button type="button" class="btn btn-primary " id="submitPostBtn" data-target="#selectPostCategoryModal" data-toggle="modal">Submit</button>
                    </div>
                    </div>    
            </div>
            <div class="tab-pane margin-ten" id="tab2">
                <p><button data-toggle="modal" data-target="#uploadPicModal" data-callback="uploadPicWithFeed"
                           class="btn btn-info">Upload Photo</button></p>
            </div>
        </div>
    </div>
</div>

@*Post-Categories Modal*@

<div class="modal hide fade" id="selectPostCategoryModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Select Category</h3>
    </div>

    <div class="modal-body">
        <div class="categories-select">
            <ul>

                @foreach (var c in categories)
                {
                    <li>
                        <button data-id="@c.Id" type="button" class="btn category-select-btn " data-toggle="button">
                            <img data-active-url="@String.Format("/Images/categories/{0}-active.png", c.Name.ToFileName())" data-default-url="@String.Format("/Images/categories/{0}.png", c.Name.ToFileName())"
                                 src="@String.Format("/Images/categories/{0}.png", c.Name.ToFileName())"/>
                        </button>
                        <div class="text-center">@c.Name</div>
                    </li>
                }

            </ul>
        </div>
        
        <p>
            <button id="selectPostCategoriesBtn" class="btn btn-primary btn-block" style="margin-top: 20px;">Submit</button>
        </p>

    </div>

    <div class="modal-footer">
        
        <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
</div>



@Html.Partial("_UploadPicModal", true)