@model AlbumViewModel
@{
    Layout = null;
    var counter = 1;
}

<a href="@Url.Action("List","Photos", new {id=Model.UserId, albumId=Model.AlbumId, page=1})" class="img-box">
    @foreach (var pic in Model.AlbumThumbnails)
    {
        var className = counter == 1
                            ? "image1"
                            : counter == 2
                                  ? "image2"
                                  : "image3";
        
        <div class="@className">
            <img src="@pic.SmallLink"/>
        </div>

        counter++;
    }
    <div class="clearfix"></div>

    <div class="album-name">
        <p>@Model.AlbumName</p>
    </div>
    <span class="photo-num">@Model.PhotosCount photos</span>
    <br class="clearfix" />

</a>
