@using Zazz.Core.Models.Data
@using Zazz.Web.Controllers
@{
    Layout = null;

    var categories = Enumerable.Empty<Category>();
    var controller = ViewContext.Controller as BaseController;
    if (controller != null)
    {
        categories = controller.StaticDataRepository.GetCategories();
    }
    
}
<div class="modal hide fade" id="uploadPicModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Upload Photo</h3>
    </div>

    <div class="modal-body">

        <div class="control-group">
            <label class="control-label">Picture</label>
            <div id="upload"></div>
        </div>

        <div class="control-group">
            <label class="control-label" for="upload-albumSelect">Album</label>
            <div class="controls">
                <select class="span3" id="upload-albumSelect" name="albumId">
                    <option>Loading...</option>
                </select>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="Description">Description: </label>
            <div class="controls">
                <div class="editor-field">
                    <input class="span4"
                           data-tag="1"
                           data-val="true"
                           data-val-length="Message must be shorter than 60 characters"
                           data-val-length-max="60" id="Description" maxlength="60"
                           name="Description" placeholder="Max 60 Characters" type="text" value="" />
                    <span class="field-validation-valid help-inline" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                </div>
            </div>

        </div>

         <div class="control-group">
            <label class="control-label" for="upload-albumSelect">Tag Users</label>
            <div class="controls">
                <div class="tag_container" id="tags_photo_id">
                        <select id="tag_photo_select" data-tagtype ="user" data-placeholder="Select user" style="width:350px;" multiple class="chosen-select span12">
                            @{
                                var users = controller.getUsers();

                                foreach (User user in users)
                                {
                                     //<option value="[[:@user.Id]]|@user.Username|@user.Id">@user.Username</option>
                                    <option value="@user.Id">@user.Username</option>
                                    
                                }
                            }
                        </select>
                </div>
            </div>
        </div>

        <p>Select Categories:</p>
        <div class="categories-select">
            <ul>

                @foreach (var c in categories)
                {
                    <li>
                        <button data-id="@c.Id" type="button" class="btn category-select-btn " data-toggle="button">
                            <img data-active-url="@String.Format("/Images/categories/{0}-active.png", c.Name.ToFileName())" data-default-url="@String.Format("/Images/categories/{0}.png", c.Name.ToFileName())"
                                 src="@String.Format("/Images/categories/{0}.png", c.Name.ToFileName())"/>
                        </button>
                        <div class="text-center">@c.Name</div>
                    </li>
                }

            </ul>
        </div>

        <p>
            <button id="uploadImg" data-feed="@Model" class="btn btn-primary">Submit</button>
        </p>

    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">Close</a>
    </div>
</div>
