@{
    Layout = "_Layout.cshtml";
}

<div id="user-home-page-content">
    <div class="container">

        @* LEFT PANEL *@
        <section class="left-panel">
            <div class="user">
                <img width="42" height="42" src="~/Images/placeholder.gif" />
                <a href="~/user/me" class="username">USER NAME</a>
            </div>
            <ul class="nav nav-list">
                <li class="divider"></li>

                <li class="nav-header">ACCOUNT</li>
                <li><a href="#"><i class="icon-beer"></i>Party Web <span class="badge badge-small badge-info">5</span></a></li>
                <li><a href="~/event/list"><i class="icon-calendar"></i>Events</a></li>
                <li><a href="~/album/"><i class="icon-camera"></i>Photos</a></li>
                <li><a href="~/user/edit"><i class="icon-pencil"></i>Edit Profile</a></li>
                <li class="divider"></li>

                <li class="nav-header">DISCOVER</li>
                <li><a href="#"><i class="icon-glass"></i>Clubs</a></li>
                <li class="divider"></li>

                <li class="nav-header">OTHER LINKS</li>
                <li><a href="#">Link A</a></li>
                <li><a href="#">Link B</a></li>
            </ul>
        </section>

        @* MIDDLE PANEL *@

        <section class="middle-panel">

             @if (TempData["alert"] != null && ((bool)TempData["alert"]))
                {
                    <div class="alert alert-block @TempData["alertClass"] margin-ten" style="margin-bottom: 30px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>@TempData["alertMessage"]</p>
                    </div>
                }

            @RenderBody()
        </section>

        @* RIGHT PANEL *@

        <section class="right-panel">
            @RenderSection("RightPanel", false)
        </section>

        <div class="clearfix"></div>
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", false)
}
