@using Zazz.Infrastructure.Helpers
@using Zazz.Web.Controllers
@using System.Linq;
@{
    Layout = "_Layout.cshtml";

    TagStatsWidgetViewModel tagStats = null;
    var controller = ViewContext.Controller as UserPageLayoutBaseController;
    if (controller != null)
    {
        tagStats = controller.GetTagStats();
    }
}

<div id="user-home-page-content">
    <div class="container">
        @* LEFT PANEL *@
        <section class="left-panel">
            <div class="user">
                <img class="user-img img-rounded img-polaroid" src="@Html.Action("GetCurrentUserVerySmallDisplayPicture")" />
                <a href="~/user" class="username">@Html.Action("GetCurrentUserDisplayName")</a>
            </div>
            <ul class="nav nav-list">
                <li class="divider"></li>

                @*<li class="nav-header">ACCOUNT</li>
                <li>
                    <a href="#" id="notifications-link" 
                       data-toggle="popover" data-html="true" data-original-title="Notifications"
                       data-title="Notifications"
                       data-content="<div class='text-center'><i class='icon-spinner icon-spin' style='font-size:30px;'></i></div>">
                        
                        <i class="icon-globe"></i>Notifications @Html.Action("GetNewNotificationsCount", "Notification")
                    </a>
                </li>
                <li><a href="#" id="party-web-link" data-toggle="modal" data-target="#party-web-requests"><i class="icon-beer"></i>Party Web @Html.Action("GetFollowRequestsCount", "Follow")</a></li>
                <li><a href="~/event/list"><i class="icon-calendar"></i>Events</a></li>
                <li><a href="~/photo/"><i class="icon-camera"></i>Photos</a></li>
                <li><a href="~/user/edit"><i class="icon-pencil"></i>Edit Profile</a></li>
                <li><a href="~/home/updatetags"><i class="icon-refresh"></i>Update Tags stats</a></li>
                <li class="divider"></li>

                <li class="nav-header">DISCOVER</li>
                <li><a href="#"><i class="icon-glass"></i>Clubs</a></li>
                <li class="divider"></li>

                <li class="nav-header">OTHER LINKS</li>
                <li><a href="#">Link A</a></li>
                <li><a href="#">Link B</a></li>*@
            </ul>
            
            <ul class="tag-stats">
                @foreach (var t in tagStats.Tags.Take(6))
                {
                    <li class="tag-header"><a href="~/home/tags?select=@t.TagName" data-tag="@t.TagName">#@t.TagName</a></li>
                    <li>@(t.UsersCount == 1 ? "1 person is" : t.UsersCount + " people are") talking about this.</li>
                }
                <li class="tags-lastupdate">last update: <strong>@tagStats.LastUpdate.ToRelativeTime()</strong></li>
            </ul>

        </section>

        @* MIDDLE PANEL *@

        <section class="middle-panel">

             @if (TempData["alert"] != null && ((bool)TempData["alert"]))
             {
                    <div class="alert alert-block @TempData["alertClass"] margin-ten" style="margin-bottom: 30px;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>@TempData["alertMessage"]</p>
                    </div>
             }
            
            <ul class="top-menu">
                <li class="header">Account</li>
                <li>
                    <ul class="menu-items">
                        <li>
                            <a href="#" id="notifications-link" 
                               data-toggle="popover" data-html="true" data-original-title="Notifications"
                               data-title="Notifications"
                               data-content="<div class='text-center'><i class='icon-spinner icon-spin' style='font-size:30px;'></i></div>">
                        
                                <i class="icon-globe"></i>Notifications @Html.Action("GetNewNotificationsCount", "Notification")
                            </a>
                        </li>
                        <li><a href="#" id="party-web-link" data-toggle="modal" data-target="#party-web-requests"><i class="icon-beer"></i>Party Web @Html.Action("GetFollowRequestsCount", "Follow")</a></li>
                        <li><a href="~/event/list"><i class="icon-calendar"></i>Events</a></li>
                        <li><a href="~/photo/"><i class="icon-camera"></i>Photos</a></li>
                        <li><a href="#"><i class="icon-glass"></i>Clubs</a></li>
                    </ul>
                </li>

            </ul>

            @RenderBody()
        </section>

        @* RIGHT PANEL *@

        <section class="right-panel">
            @RenderSection("RightPanel", false)
            
            <ul class="tag-stats">
                @foreach (var t in tagStats.Tags.Skip(6))
                {
                    <li class="tag-header"><a href="~/home/tags?select=@t.TagName" data-tag="@t.TagName">#@t.TagName</a></li>
                    <li>@(t.UsersCount == 1 ? "1 person is" : t.UsersCount + " people are") talking about this.</li>
                }
                <li class="tags-lastupdate">last update: <strong>@tagStats.LastUpdate.ToRelativeTime()</strong></li>
            </ul>
        </section>

        <div class="clearfix"></div>
        
        <div class="modal hide fade" id="party-web-requests">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Party web requests</h3>
            </div>
            
            <div class="modal-body" id="party-web-requests-body">
                <div class="text-center">
                    <i class="icon-large icon-refresh icon-spin"></i>
                </div>
            </div>

            <div class="modal-footer">
                <a href="#" data-dismiss="modal" class="btn">Close</a>
            </div>
        </div>

    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", false)
}

@section ScriptsTop 
{
    @RenderSection("ScriptsTop", false)
}