@model WeeklyViewModel
@{
    Layout = null;
}
<form>
    <div>
        @Html.HiddenFor(x => x.Id)
        <input type="hidden" name="PhotoId" id="weekly-@Model.Id-photoId" value="@Model.PhotoId" />

        <img src="@(Model.PhotoLinks == null ? "/Images/placeholder.gif" : Model.PhotoLinks.SmallLink )" 
             id="weekly-@Model.Id-thumbnail" class="img-polaroid" style="width: 64px;" />

        <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">Select Picture</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="weeklyId = @Model.Id" data-toggle="modal" data-target="#pg-modal" data-callback="weeklyPhotoSelected">From gallery</a></li>
                <li><a href="#" onclick="weeklyId = @Model.Id" data-toggle="modal" data-target="#uploadPicModal" data-callback="weeklyPhotoSelected">Upload picture</a></li>
            </ul>
        </div>
    </div>
    <div style="margin-top: 10px;">
        <input type="text" name="Name" id="weeklyName" placeholder="Name" value="@Model.Name"/>
    </div>
    <div>
        @Html.DropDownList("dayOfTheWeek", Model.DayOfTheWeek.EnumToSelectList())
    </div>
    <div>
        @Html.TextAreaFor(m => m.Description, new { @id = "weeklyDescription", @placeholder = "Description",
            @style = "height:100px;"})
        
    </div>
    <div class="text-right">
        <button type="button" class="btn btn-primary saveWeeklyBtn" data-id="@Model.Id">Save</button>
        
        @if (Model.Id > 0)
        {
            <button style="margin-right: 20px;" type="button" class="btn btn-danger removeWeeklyBtn" data-id="@Model.Id">Remove</button>
        }

        <button type="button" class="btn" data-close-popover="@Model.Id">Cancel</button>
    </div>
    <div class="clearfix"></div>
</form>