@using Zazz.Core.Models.Data.Enums
@using Zazz.Infrastructure
@using Zazz.Infrastructure.Helpers
@model IEnumerable<NotificationViewModel>
@{
    Layout = null;
}

<ul class="notification-list">
    @foreach (var n in Model)
    {
        <li class="notification-row @(n.IsRead ? "" : "new-notification")" data-id="@n.NotificationId">
            <button title="Remove" data-removeNotification="1" data-id="@n.NotificationId" type="button" class="close">&times;</button>
            <img class="notification-user-img" src="@n.UserPhoto.VerySmallLink" alt="@n.UserDisplayName" />
            <a target="_blank" href="~/users/profile/@n.UserId"><strong>@n.UserDisplayName</strong></a>

            @if (n.NotificationType == NotificationType.CommentOnEvent)
            {
                @:commented on your event:
                <a target="_blank" href="~/events/show/@n.ItemId"><strong>@n.EventName</strong></a>
            }
            else if (n.NotificationType == NotificationType.CommentOnPhoto)
            {
                @:commented on your <a data-toggle="lightbox" data-target="#photo-@n.ItemId" href="@n.PhotoViewModel.PhotoUrl.OriginalLink">photo</a> 
                @Html.Partial("_LightBoxPartial", n.PhotoViewModel)
            }
            else if (n.NotificationType == NotificationType.CommentOnPost)
            {
                @:commented on your
                <a target="_blank" href="~/posts/show/@n.ItemId">post</a>
            }
            else if (n.NotificationType == NotificationType.FollowRequestAccepted)
            {
                @:accepted your follow request!
            }
            else if (n.NotificationType == NotificationType.NewEvent)
            {
                @:created a new event:
                <a target="_blank" href="~/events/show/@n.ItemId"><strong>@n.EventName</strong></a>
            }
            else if (n.NotificationType == NotificationType.WallPost)
            {
                @:posted on your wall.
                <a target="_blank" href="~/posts/show/@n.ItemId">view post</a>
            }
            else if (n.NotificationType == NotificationType.TagNotification)
            {
                @: taged you in a 
                <a target="_blank" href="~/posts/show/@n.ItemId">post</a>
            }
            else if (n.NotificationType == NotificationType.TagPhotoNotification)
            {
                @: taged you in a photo
            } 

            <span title="@n.Time.ToLongDateString() - @n.Time.ToShortTimeString()"
                  class="font-verysmall pull-right time">@Html.RelativeTime(n.Time)</span>
        </li>
    }
</ul>
