@model Zazz.Web.Models.EventViewModel

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_UserPageLayout.cshtml";

    var isMapAvailable = (Model != null && Model.Latitude.HasValue && Model.Longitude.HasValue);
}


<div>
    <div class="page-header">
        <h3>@Model.Name</h3>
    </div>

    <div class="margin-ten">
        <strong class="pull-right">@Model.Time</strong>

        <img src="~/Images/placeholder.gif" width="128" height="128" />

        <p class="event-detail">@Model.Detail</p>
        @if (Model.Price.HasValue)
        {
            <p class="event-price"><strong>@Model.Price.Value.ToString("C")</strong></p>    
        }

        <address>
            <strong>@Model.Location</strong><br />
            @Model.Street, @Model.City

        </address>
        
        @if (isMapAvailable)
        {
            <div id="map-canvas" style="height: 400px;"></div>
            <div style="margin-bottom: 200px;"></div> @* TODO: Remove this line later *@
        }

    </div>
</div>

<div class="modal hide fade" id="remove-event-modal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Are you sure?</h3>
    </div>

    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn">No</a>
        <a href="~/event/remove/@Model.Id" class="btn btn-primary">Yes</a>
    </div>
</div>


@section RightPanel
{
    <ul class="nav nav-list">

        @if (Model.IsOwner)
        {
            <li><a href="~/event/edit/@Model.Id"><i class="icon-pencil"></i>Edit Event</a></li>
            <li><a data-toggle="modal" data-target="#remove-event-modal" href="#"><i class="icon-remove"></i>Remove Event</a></li>
        }

        @if (!String.IsNullOrEmpty(Model.FacebookLink))
        {
            <li class="disabled"><a href="@Model.FacebookLink" class="disabled"><i class="icon-facebook"></i>Facebook Link</a></li>
        }
    </ul>
}

@if (isMapAvailable)
{
    @section ScriptsTop
    {
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC-ZWW7fhSaFI1i3i3jjpJUuGPJZI87A6s&sensor=true" type="text/javascript"></script>
    }
    
    @section Scripts
{
    <script type="text/javascript">

        $(function() {
                    
            var lat = @Model.Latitude.Value;
            var lng = @Model.Longitude.Value;

            var latlng = new google.maps.LatLng(lat, lng, false);
            initMap(lat, lng);
            placeMarker(latlng, 14);
        });

    </script>
}
}