@using Zazz.Core.Models.Data.Enums
@model ClubRewardsIndexViewModel
@{
    ViewBag.Title = "Rewards";
}

<div class="container">
    <div class="page-header">
        <h2>Rewards</h2>
    </div>
    
    @if (Model.AccountType == AccountType.User)
    {
        <div class="text-right"><h3>Total Points: @Model.TotalPoints</h3></div>
        <form action="~/clubrewards/addpoints">
            amount: <input name="amount" class="span1"/>
            club id: <input name="clubId" class="span1"/>
            <input type="submit" class="btn"/>
        </form>
    }

    <ul>

        @if (Model.AccountType == AccountType.Club)
        {
            <li>@Html.ActionLink("Manage point reward scenarios", "Scenarios")</li>
            <li>@Html.ActionLink("Manage rewards", "List")</li>
        }
        else
        {
            <li>@Html.ActionLink("Current rewards", "ActiveRewards")</li>

            if (Model.Clubs.Count > 0)
            {
                <li><strong>Clubs:</strong></li>
                foreach (var c in Model.Clubs)
                {
                    <li><a href="@Url.Action("List", new { id=c.ClubId })">@c.ClubName (@c.Points)</a></li>
                }
            }
        }

    </ul>
</div>



