@using Zazz.Core.Models.Data.Enums
@model ClubRewardsListViewModel

@{
    ViewBag.Title = "Rewards List";

}

<div class="container">

    <div class="page-header">
        <h2>Rewards</h2>
    </div>
    
    @if (!Model.IsCurrentUserOwner && Model.CurrentUserAccountType == AccountType.User)
    {
        <div class="text-right">
            <h4>Total Points: @Model.CurrentUserPoints</h4>
        </div>
    }
    
    @if (Model.IsCurrentUserOwner)
        {
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        }

    <table class="table table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayColumnNameFor(Model.Rewards, m => m.Name)
            </th>
            <th>
                @Html.DisplayColumnNameFor(Model.Rewards, m => m.Description)
            </th>
            <th>
                @Html.DisplayColumnNameFor(Model.Rewards, m => m.Cost)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Rewards)
        {
            if (!Model.IsCurrentUserOwner && !item.IsEnabled)
            {
                continue;
            }
            
            <tr @(item.IsEnabled ? null : "style=opacity:0.4;")>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @if (Model.IsCurrentUserOwner)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|

                        if (item.IsEnabled)
                        {
                            @Html.ActionLink("Disable", "Disable", new { id = item.Id })
                        }
                        else
                        {
                            @Html.ActionLink("Enable", "Enable", new { id = item.Id })
                        }
                    }
                    else if (Model.CurrentUserAccountType == AccountType.User)
                    {
                        if (Model.CurrentUserPoints >= item.Cost)
                        {
                            @Html.ActionLink("Reedem points", "Redeem", new {id = item.Id})
                        }
                        else
                        {
                            <button style="opacity: 0.4;padding: 0;margin-left: -3px;" title="not enough points" class="btn-link disabled">Reedem points</button>
                        }
                    }
                </td>
            </tr>
        }

    </table>

</div>
