@model Zazz.Core.Models.Data.ClubReward
@{
    ViewBag.Title = "Redeem";
}

<div class="container" style="margin-top: 50px;">

    <div class="well well-large">

        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ClubId)
                
                <h4>Are you sure you want to spend @Model.Cost @(Model.Cost == 1 ? "point" : "points") for "@Model.Name" reward?</h4>
                <blockquote>
                    <p>@Model.Description</p>
                </blockquote>
                <div class="text-right">
                    <p>
                        <input type="submit" class="btn btn-primary" value="Yes" style="width: 80px"/>
                        @Html.ActionLink("No", "List", new { id = Model.ClubId }, new { @class = "btn" })
                    </p>
                </div>

            }
        </div>


    </div>
</div>
