@using Zazz.Core.Models.Data
@using Zazz.Core.Models.Data.Enums
@model ClubRewardScenariosListViewModel
@{
    ViewBag.Title = "Scenarios";
}

<div class="container">
    <div class="page-header">
        <h2>Point Reward Scenarios</h2>
    </div>

    <div>
        <p>
            @Html.ActionLink("Create new", "CreateScenario")
        </p>

        @if (Model.Scenarios.Count > 0)
        {
            <table class="table table-condensed table-striped" style="margin-bottom: 100px;">
                <thead>
                    <tr>
                        <th>Scenario</th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.MondayAmount)
                        </th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.TuesdayAmount)
                        </th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.WednesdayAmount)
                        </th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.ThursdayAmount)
                        </th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.FridayAmount)
                        </th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.SaturdayAmount)
                        </th>
                        <th>
                            @Html.DisplayColumnNameFor(Model.Scenarios, model => model.SundayAmount)
                        </th>
                        <th></th>
                    </tr>
                </thead>

                @foreach (var item in Model.Scenarios)
                {
                    <tr>
                        <td>@item.Scenario.GetEnumDisplay()</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MondayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TuesdayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WednesdayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ThursdayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FridayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SaturdayAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SundayAmount)
                        </td>
                        <td><a href="~/clubrewards/editscenario/@item.ScenarioId">Edit</a> |
                            <a href="~/clubrewards/removescenario/@item.ScenarioId">Remove</a></td>
                    </tr>
                }

            </table>
        }

        @*@Html.Partial("_EditScenarioFormInLine", new ClubRewardScenarioViewModel())*@

    </div>

</div>


