@using Zazz.Core.Models.Data.Enums
@using Zazz.Web.Controllers
@model CategoriesPageViewModel
@{
    ViewBag.Title = "Tags";

    IEnumerable<CategoryStatViewModel> categoryStats = Enumerable.Empty<CategoryStatViewModel>();
    var currentUserDisplayName = "Unknown user";
    var currentUserId = 0;

    var controller = ViewContext.Controller as BaseController;
    if (controller != null)
    {
        categoryStats = controller.GetTagStats();
        currentUserDisplayName = controller.GetCurrentUserDisplayName();
        currentUserId = controller.GetCurrentUserId();
    }
}
<div class="container" style="margin-top: -13px;">
    <div class="row-fluid">

        @*LEFT SIDE*@
        <div class="left-pane">
            <div class="user">
                <img class="user-img img-rounded img-polaroid" src="@Html.Action("GetCurrentUserVerySmallDisplayPicture")" />
                <a href="@Url.Action("Profile", "Users", new { id = currentUserId, friendlySeoName = currentUserDisplayName.ToUrlFriendlyString() })" class="username">@currentUserDisplayName</a>
            </div>


            <ul class="nav nav-stacked right-nav">
                <li>
                    <a href="#" id="notifications-link" data-toggle="popover" data-html="true" data-original-title="Notifications"
                        data-title="Notifications"
                        data-content="<div class='text-center'><i class='icon-spinner icon-spin' style='font-size:30px;'></i></div>">
                        <i class="icon-exclamation-sign"></i>&nbsp; Notifications
                        @Html.Action("GetNewNotificationsCount", "Notifications")
                    </a>
                </li>
                <li><a href="@Url.Action("Followers", "Users", new {id=currentUserId})"><i class="icon-user"></i>&nbsp; Followers @Html.Action("GetFollowRequestsCount", "Follow")</a></li>
                <li><a href="@Url.Action("Following", "Users", new {id=currentUserId})"><i class="icon-user"></i>&nbsp; Following</a></li>
                <li><a href="@Url.Action("Photos", "Users", new {id=currentUserId})"><i class="icon-camera"></i>&nbsp; Photo</a></li>
                <li><a href="@Url.Action("Clubs", "Home")"><i class="icon-glass"></i>&nbsp; Clubs</a></li>
                @if (Model.HasFacebookAccount)
                {
                    if (Model.AccountType == AccountType.Club)
                    {
                    <li><a href="#manageFbPagesModal" data-toggle="modal" id="manageFbPages"><i class="icon-facebook"></i>&nbsp; Manage Facebook Pages</a></li>
                    }
                }
                else
                {
                    <li><a href="@Url.Action("OAuth", "Account", new {id="facebook"})"><i class="icon-facebook"></i>&nbsp; Link facebook account</a></li>
                }
            </ul>
            
            <div class="filter-container pane-box">
                <div class="filter-open pane-title">Filter</div>
                <div class="filters">
                    <ul>
                        <li>
                            <input type="checkbox" name="filters" value="f-follow" checked />
                            Show Posts of people I follow
                        </li>
                        <li>
                            <input type="checkbox" name="filters" value="f-city" checked />
                            Show Posts of people in my city
                        </li>
                    </ul>
                </div>
            </div>

            <div class="categories-stat-container pane-box">
                <div class="pane-title">Categories</div>
                <form id="cat-select" action="">
                @foreach (var c in categoryStats)
                {
                    <input type="checkbox" id="@c.CategoryName.ToFileName()" name="categories" value="@c.CategoryName" @(Model.SelectedCategories.Contains(c.CategoryName, StringComparer.InvariantCultureIgnoreCase) ? "checked" : String.Empty)>
                    <label for="@c.CategoryName.ToFileName()" class="category">
                        <img class="category-img" src="@String.Format("/Images/categories/{0}.png", c.CategoryName.ToFileName())" />
                        <img class="category-img-active" src="@String.Format("/Images/categories/{0}-active.png", c.CategoryName.ToFileName())" />
                        <span class="category-text">
                            <span class="category-text-header">@c.CategoryName</span>
                            <span>@c.UsersCount talking about this.</span>
                        </span>
                    </label>
                }
                </form>
            </div>
        </div>

        @*CENTER*@

        <div class="center-panel color-white-bg box-shadow">
            @Html.Partial("_FeedsPartial", Model.Feeds)
        </div>
    </div>
</div>

@if (Model.AccountType == AccountType.Club && Model.HasFacebookAccount)
{
    <div class="modal hide fade" id="manageFbPagesModal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Manage Facebook Pages</h3>
        </div>

        <div class="modal-body">
            <i class="icon-refresh icon-spin icon-large"></i>
        </div>

        <div class="modal-footer">
            <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>
    </div>
}
