@using PoliteCaptcha
@model RegisterUserHomeViewModel
@{
    Layout = null;
    ViewBag.Title = "Zazz";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/Content/new/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/new/bootstrap-theme.css" rel="stylesheet" />
    <link href="/Content/new/styles.css" rel="stylesheet" />
    <link href="/Content/new/animate.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/Scripts/jquery.mousewheel.js"></script>
    <script src="/Scripts/perfect-scrollbar.js"></script>

    <script src="/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="/Scripts/jquery-ui-timepicker-addon.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/bootstrap-lightbox.js"></script>
    <script src="/Scripts/bootstrap-editable.js"></script>
    <script src="/Scripts/moment.js"></script>
    <script src="/Scripts/livestamp.js"></script>
    <script src="/Scripts/css-transit.js"></script>
    <script src="/Scripts/jquery.caret.js"></script>
    <script src="/Scripts/jquery.color.js"></script>
    <script src="/Scripts/jquery.extends.js"></script>
    <script src="/Scripts/jquery.Jcrop.js"></script>
    <script src="/Scripts/mvc-bootstrap-integration.js"></script>
    <script src="/Scripts/select2.js"></script>
    <script src="/Scripts/toastr.js"></script>
    <script src="/Scripts/app/user-home-page.js"></script>

    <script>
        PageEnum = {
            NONE: 0,
            START: 1,
            REG: 2,
            CREATE: 3
        }

        PageClasses = [
            '',
            '.landing-page-start',
            '.landing-page-register',
            '.landing-page-create'
        ]

        var page = PageEnum.NONE;
        var regFull = false;

        function setCaptcha() {
            $('input[name="nocaptcha_challenge"]').each(function () {
                var response = this.value.split('').reverse().join('');
                var form = this.form;
                $('<input>').attr({
                    type: 'hidden',
                    name: 'nocaptcha_response',
                    value: response
                }).appendTo(form);
            });
        }

        function updateUserType() {
            if ($(this).val() == 'Promoter') {
                $('.lp-majors').fadeOut(200, function () {
                    $('.lp-promoters').fadeIn(200);
                });
            } else {
                $('.lp-promoters').fadeOut(200, function () {
                    $('.lp-majors').fadeIn(200);
                });
            }
        }

        function updateBirth() {
            var m = $('#Month').val();
            var d = $('#Day').val();
            var y = $('#Year').val();
            $('#Birth').val(m + '/' + d + '/' + y);
        }

        function updateBirthVals() {
            var date = $('#Birth').val().split('/');
            if(date.length != 3) return;
            $('#Month').val(date[0]);
            $('#Day').val(date[1]);
            $('#Year').val(date[2]);
        }

        function regFullSetup() {
            $('input:radio[name="UserType"]').change(updateUserType);
            $('.zazz-form').perfectScrollbar({
                wheelSpeed: 5,
                wheelPropagation: false
            });
        }

        function toggleRegFull() {
            regFull = !regFull;

            var a = !regFull ? 'none' : 'block';
            var b = regFull ? 'none' : 'block';

            $('.zazz-form').css('display', a);
            $('.zazz-form-min').css('display', b);
            $('.fb-reg').css('display', a);
            $('.fb-reg-hidden').css('display', b);

            if(regFull) regFullSetup();
        }

        function toggleRegFullAnimFadeIn() {
            if (regFull) {
                $('.zazz-form').fadeIn(200);
                $('.fb-reg-hidden').fadeIn(200);
            } else {
                $('.zazz-form-min').fadeIn(200);
                $('.fb-reg').fadeIn(200);
            }

            if(regFull) regFullSetup();
        }

        function toggleRegFullAnim() {
            regFull = !regFull;

            if (!regFull) {
                $('.zazz-form').fadeOut(200);
                $('.fb-reg-hidden').fadeOut(200, toggleRegFullAnimFadeIn);
            } else {
                $('.zazz-form-min').fadeOut(200);
                $('.fb-reg').fadeOut(200, toggleRegFullAnimFadeIn);
            }
        }

        function pageSetup() {
            switch(page) {
                case PageEnum.REG:
                    $('.zazz-form-min').focusin(function () {
                        if (!regFull) toggleRegFullAnim();
                    });
                    if (regFull) {
                        $('.zazz-form').perfectScrollbar({
                            wheelSpeed: 5,
                            wheelPropagation: false
                        });
                    }
            }
        }

        function showPage(nPage) {
            if(nPage == page) return;

            $(PageClasses[page]).css('display', 'none');
            $(PageClasses[nPage]).css('display', 'block');
            page = nPage;
            pageSetup();
        }

        function showPageAnimFadeIn() {
            $(PageClasses[page]).fadeIn(200);
            pageSetup();
        }

        function showPageAnim(nPage) {
            if (nPage == page) return;

            var pPage = page;
            page = nPage;
            $(PageClasses[pPage]).fadeOut(200, showPageAnimFadeIn);
        }

        function resetStart() {
            showPageAnim(PageEnum.START);
        }

        window.onload = function () {
            var url = window.location.href;
            var lastPart = url.substr(url.lastIndexOf('/') + 1);

            $('.landing-page-container').focus(resetStart);
            $('.lp-phones').focus(resetStart);

            setCaptcha();
            updateBirthVals();

            if (lastPart == "register") {
                toggleRegFull();
                showPage(PageEnum.REG);
            } else {
                $('#_UserType_User').prop('checked', true);
                showPage(PageEnum.START);
            }
        };
    </script>
</head>
<body class="landing-page">
    <div class="landing-page-container" tabindex="-1">
        <div class="login-bar">
            <img src="/Images/new/zazz_final_logo.png" width="140" class="logo">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="login-container">
                <form action="@Url.Action("Login", "Account")" method="POST" class="login-form">
                    @Html.AntiForgeryToken()
                    <div class="login-form-group">
                        <input type="text" tabindex="1" class="form-control dark-input login-form-input" placeholder="Username" name="username">
                        <br />
                        <small><a href="@Url.Action("RecoverUser","Account")">Forgot Username</a></small>                     
                    </div>
                    <div class="login-form-group">
                        <input type="password" tabindex="2" class="form-control dark-input login-form-input" placeholder="Password" name="password">
                        <br />
                        <small><a href="@Url.Action("Recover","Account")">Forgot Password</a></small>
                    </div>
                    <div class="login-form-group">
                         <button type="submit" tabindex="3" class="btn btn-dark">Login</button>
                        <br /><br />
                    </div>
                </form>
            </div>
        </div>
        <div class="landing-page-main">
            <div class="landing-page-start" tabindex="-1">
            
                <div class="landing-page-tagline">
            <div class="animated fadeInLeft">
                Discover new places & people to party with. 
                </div></div>
                <table>
                 
                    <tr>
                   
                        <td colspan="2"><div class="animated fadeInLeft"><button onclick="showPageAnim(PageEnum.REG);">Register</button></td>
                    </div>
                    </tr>
                    <tr>
                        <td>
                            <div class="animated fadeInLeft"><a href="#">
                            Coming soon &nbsp;&nbsp;&nbsp;&nbsp;<img src="/Images/new/apple1.png">
                        </a>
                        </div>
                        </td>
                        <td>
                            <div class="animated fadeInLeft"><a href="#">
                            Coming soon &nbsp;&nbsp;&nbsp;&nbsp;<img src="/Images/new/android.png">
                        </a>
                        </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="landing-page-register" tabindex="-1">
                <div class="fb-reg">
                    <a href="@Url.Action("OAuth", "Account", new { id = "facebook", isClub = false })">
                        <img src="/Images/new/fb-sign-up.jpg" />
                    </a>
                    <br><br>
                    <div class="lp-divider">
                        <table>
                            <tr>
                                <td class="line-left"></td>
                                <td class="line-centre" rowspan="2">&nbsp;Or&nbsp;</td>
                                <td class="line-right"></td>
                            </tr>
                            <tr><td></td><td></td></tr>
                        </table>
                    </div>
                </div>
                <div class="fb-reg-hidden">
                    <div class="fb-reg-unhide">
                        <button onclick="toggleRegFullAnim();">
                            <table>
                                <tr>
                                    <td class="line-left"></td>
                                    <td class="line-centre" rowspan="2">
                                        <img src="/Images/new/facebook_icon.png" />
                                    </td>
                                    <td class="line-right"></td>
                                </tr>
                                <tr><td></td><td></td></tr>
                            </table>
                        </button>
                    </div>
                </div>
                <br>
                <div class="zazz-form-min">
                    @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Username", @class = "register-input" })
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "register-input" })
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "register-input" })
                </div>
                <div class="zazz-form">
                    <form action="@Url.Action("Register", "Home")" method="POST" id="formRegistration">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)

                        <fieldset>
                            @if (TempData["alert"] != null && ((bool)TempData["alert"])) {
                                <div class="alert alert-block @TempData["alertClass"]">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <p>@TempData["alertMessage"]</p>
                                </div>
                            }

                            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Username", @class = "register-input" })
                            @Html.ValidationMessageFor(model => model.UserName, null, new { @class = "help-inline" })

                            @if (!Model.IsOAuth) {
                                @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email", @class = "register-input" })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "help-inline" })
                            } else {
                                @Html.HiddenFor(m => m.Email)
                            }

                            @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "register-input" })
                            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "help-inline" })

                            @Html.PasswordFor(model => model.ConfirmPassword, new { @placeholder = "Confirm Password", @class = "register-input" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "help-inline" })

                            @Html.LabelFor(model => model.Birth, new { @class = "register-input-label" })
                            @Html.TextBoxFor(model => model.Birth, new { @type = "hidden" })
                            <table id="BirthInput" class="register-input">
                                <tr>
                                    <td><input class="DateFields" id="Month" placeholder="MM" maxlength="2" type="text" onchange="updateBirth();"></td>
                                    <td><input class="DateFields" id="Day" placeholder="DD" maxlength="2" type="text" onchange="updateBirth();"></td>
                                    <td><input class="DateFields" id="Year" placeholder="YYYY" maxlength="4" type="text" onchange="updateBirth();"></td>
                                </tr>
                            </table>
                            @Html.ValidationMessageFor(model => model.Birth, null, new { @class = "help-inline" })
                            
                            @Html.LabelFor(model => model.Gender, new { @class = "register-input-label" })
                            <div class="lp-radio">
                                @Html.RadioButtonForEnum2(model => model.Gender)
                                @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "help-inline" })
                            </div>

                            @Html.LabelFor(model => model.UserType, new { @class = "register-input-label" })
                            <div class="lp-radio">
                                @Html.RadioButtonForEnum2(model => model.UserType)
                                @Html.ValidationMessageFor(model => model.UserType, null, new { @class = "help-inline" })
                            </div>

                            <div class="lp-promoters">
                                @Html.DropDownListFor(model => model.PromoterType, new SelectList(Model.PromoterTypes), "Select Promoter Type", new { @class = "lp-select" })
                                @Html.ValidationMessageFor(model => model.PromoterType, null, new { @class = "help-inline" })
                            </div>

                            <div class="lp-majors">
                                <select class="lp-select" id="taglineselect">
                                    @{
                                        <option value="">Select TagLine</option>
                                        <option value="8">Write Your Own Tagline</option>
                                        foreach(var major in Model.Majors)
                                        {
                                            <option>@major.Name</option>
                                        }
                                        
                                    }
                                </select>
                                @Html.TextBoxFor(model => model.TagLine, new { @placeholder = "Tag Line", @class = "register-input", @maxlength = "50" })
                                @Html.ValidationMessageFor(model => model.TagLine, null, new { @class = "help-inline" })
                                <!--
                                @Html.DropDownListFor(model => model.MajorId, new SelectList(Model.Majors, "Id", "Name"), "Tagline", new { @class = "lp-select" })
                                @Html.ValidationMessageFor(model => model.MajorId, null, new { @class = "help-inline" })
                                -->
                            </div>

                            @Html.SpamPreventionFields()
                            <br>
                            <div class="lp-policies" style="position: absolute; right: 15%;">
                                <p style="font-family: robotolight;">
                                    By clicking register, you agree <br /> to our <a href="~/Content/Privacy Policy.pdf" target="_blank">Privacy Policy</a>, and to our <br />
                                    <a href="~/Content/Terms of Service.pdf" target="_blank">Terms of Use</a>.
                                </p>
                            </div>
                            <button type="submit">Register</button>
                            <script type="text/javascript">
                                jQuery("label[for='_UserType_User']").html("I Like To Party");
                                jQuery("label[for='_UserType_Promoter']").html("I Do It For A Living");
                                $(document).ready(function () {
                                    $("#TagLine").hide();
                                    $("#taglineselect").change(function () {
                                        var val = $(this).val();
                                        if (val == "8") {
                                            $("#TagLine").val("");
                                            $("#TagLine").show();
                                        } else {
                                            $("#TagLine").hide();
                                            $("#TagLine").val(val);
                                        }
                                    });
                                    $("#formRegistration").submit(function () {
                                        if ($("#_UserType_User").is(":checked")) {
                                            if ($("#taglineselect").val() == "") {
                                                //alert("Please select tagline");
                                                //return false;
                                            }
                                        }
                                    });
                                });
                            </script>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="landing-page-create" tabindex="-1">
                <div class="lp-create-title">Create a Page</div>
                <div class="landing-page-create-fb">
                    <a href="@Url.Action("OAuth", "Account", new { id = "facebook", isClub = true })">
                        <img src="/Images/new/fb-sign-up2.jpg" />
                    </a>
                </div>
                
                <div class="lp-create-lock">
                    <img src="~/Images/lock.png" />
                </div>
                <p>
                    Zazz uses your Facebook's fan page to sync all your posts, photos, and events. 
                    Our web app does not allow us to post on your behalf, it is against our Terms & Conditions and our Privacy Policy.  
                </p>
            </div>
        </div>
        
         
      
        <div class="lp-phones">
        <div class="animated bounceInUp">
            <img src="/Images/new/landing-page-phones.png" />
        </div>  </div>
        <div class="main-footer">
            <table>
                <tr>
                    <td><button onclick="showPageAnim(PageEnum.CREATE);">Create a page</button></td>
                    <td><a href="mailto:laurent@zazzlife.com">Contact us</a></td>
                    <td><a href="#">Join our team</a></td>
                </tr>
            </table>
        </div>
        <div class="landing-page-hidden">
        </div>
    </div>
</body>
</html>
